contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent2/v3/emias.contingent2.area.v3.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://emias.mos.ru/contingent2/area/v3/types/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="http://emias.mos.ru/contingent2/core/v3/"
           xmlns:address="http://emias.mos.ru/contingent2/address/v3/"
           xmlns:restr="http://emias.mos.ru/restriction/types/core/"
           targetNamespace="http://emias.mos.ru/contingent2/area/v3/types/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://emias.mos.ru/contingent2/core/v3/" schemaLocation="emias.contingent2.core.v3.xsd"/>
    <xs:import schemaLocation="emias.contingent2.address.v3.xsd" namespace="http://emias.mos.ru/contingent2/address/v3/" />
    <xs:import namespace="http://emias.mos.ru/restriction/types/core/" schemaLocation="../v1/emias.restriction.types.core.xsd"/>

    <!--lists of entities-->
    <xs:complexType name="AddressAllocationOrderListResultPage">
        <xs:annotation>
            <xs:documentation>Результаты отбора сведений об участках</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="core:PagingResults">
                <xs:sequence>
                    <xs:element name="order" type="core:AddressAllocationOrder" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Сведения об участке</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AreaHistoryResultPage">
        <xs:annotation>
            <xs:documentation>История назначения медработников на участок</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="core:PagingResults">
                <xs:sequence>
                    <xs:element name="result" type="core:AreaHistory" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>История назначения медработников на участок</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="createDependentAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="restr:int5digits" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="primaryAreaTypes" type="core:PrimaryAreaTypeCodes" maxOccurs="unbounded" />
                <xs:element name="areaTypeProfileCode" type="xs:long" minOccurs="0" />
                <xs:element name="policyTypes" type="core:PolicyTypeCodes" maxOccurs="unbounded" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createDependentAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPrimaryAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="restr:int5digits" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="policyTypes" type="core:PolicyTypeCodes" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" />
                <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPrimaryAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePrimaryAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="number" type="restr:int5digits" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="PolicyTypesAdd" type="core:PolicyTypesAdd" minOccurs="0" />
                <xs:element name="PolicyTypesDel" type="core:PolicyTypesDel" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" minOccurs="0" />
                <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePrimaryAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fault" type="core:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateDependentAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="restr:int5digits" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="primaryAreaTypesAdd" type="core:PrimaryAreaTypeCodes" minOccurs="0" />
                <xs:element name="primaryAreaTypesDel" type="core:PrimaryAreaTypeCodes" minOccurs="0" />
                <xs:element name="policyTypesAdd" type="core:PolicyTypeCodes" minOccurs="0" />
                <xs:element name="policyTypesDel" type="core:PolicyTypeCodes" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateDependentAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:string" />
                <xs:element name="date" type="xs:date" />
                <xs:element name="ouz" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
                <xs:element name="number" type="xs:string" minOccurs="0" />
                <xs:element name="date" type="xs:date" minOccurs="0" />
                <xs:element name="ouz" type="xs:string" minOccurs="0" />
                <xs:element name="name" type="xs:string" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="xs:string" minOccurs="0" />
                <xs:element name="date" type="xs:date" minOccurs="0" />
                <xs:element name="name" type="xs:string" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="tns:AddressAllocationOrderListResultPage" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="core:Area" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setMedicalEmployeeOnAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long"/>
                <xs:element name="addMedicalEmployees" type="core:AddMedicalEmployees" minOccurs="0"/>
                <xs:element name="changeMedicalEmployees" type="core:ChangeMedicalEmployees" minOccurs="0"/>
                <xs:element ref="core:options" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setMedicalEmployeeOnAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assignmentId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="fault" type="core:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="restoreAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="restoreAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNewAreaIdRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNewAreaIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="newAreaId" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="address" type="address:AddressRegistryBaseType" maxOccurs="unbounded"/>
                <xs:element ref="core:options" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaAddressId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                <xs:element name="orderId" type="xs:long" />
                <xs:element name="address" type="address:AddressRegistryBaseType" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moAddressId" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaType" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="moId" type="xs:long" />
                                    <xs:element name="areaType" type="core:AreaTypeShort" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="order" type="core:AddressAllocationOrder" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="moAddress" type="core:MoAddress" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moAddressId" type="xs:long" maxOccurs="unbounded" />
                <xs:element name="orderId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="archiveAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="archiveAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="areaAddressId" type="xs:long" minOccurs="1" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaId" type="core:ID" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="areaAddress" type="core:AreaAddress" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        
    <xs:element name="addMuAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMuAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMuAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="muId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMuAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMuAvailableAreaTypes2Request">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="muId" type="xs:long" />                
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMuAvailableAreaTypes2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="muAvailableAreaType" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="age_min" type="xs:string" minOccurs="0"/>
                            <xs:element name="age_max" type="xs:string" minOccurs="0"/>
                            <xs:element name="age_m_min" type="xs:string" minOccurs="0"/>
                            <xs:element name="age_m_max" type="xs:string" minOccurs="0"/>
                            <xs:element name="age_w_min" type="xs:string" minOccurs="0"/>
                            <xs:element name="age_w_max" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaTypeClassCode" type="xs:long" minOccurs="0"/>
                <xs:element name="moId" type="xs:long" minOccurs="0"/>
                <xs:element name="muId" type="xs:long" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="areaTypeProfileCode" type="xs:long" minOccurs="0"/>
                <xs:element name="number" type="restr:int5digits" minOccurs="0"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="isArchived" type="xs:boolean" minOccurs="0"/>
                <xs:element name="medicalEmployee" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Сведения медработника. Для поиска по МР должен быть передан хотя бы один из
                            параметров
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="medicalEmployeeJobId" type="xs:long" minOccurs="0"/>
                            <xs:element name="snils" type="restr:stringLimit20" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="muService" type="core:MuService" minOccurs="0" />
                <xs:element name="address" type="address:SearchAreaAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="isExactAddressMatch" type="xs:boolean" minOccurs="0"/>
                <xs:element ref="core:options" minOccurs="0"/>
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                        <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="area" type="core:Area" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initiateCreatePrimaryAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="restr:int5digits" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="areaTypeProfileCode" type="xs:long" minOccurs="0" />
                <xs:element name="policyTypes" type="core:PolicyTypeCodes" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" />
                <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
                <xs:element name="addMedicalEmployees" type="core:AddMedicalEmployees" minOccurs="0" />
                <xs:element name="address" type="address:AddressRegistryBaseType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initiateCreatePrimaryAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initiateAddAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="address" type="address:AddressRegistryBaseType" maxOccurs="unbounded"/>
                <xs:element ref="core:options" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initiateAddAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="initiateAddMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                <xs:element name="orderId" type="xs:long" />
                <xs:element name="address" type="address:AddressRegistryBaseType" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="initiateAddMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchDnAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" minOccurs="0" />
                <xs:element name="mu" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="muId" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="areaTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="areaTypeProfileCode" type="xs:long" minOccurs="0"/>
                <xs:element name="muService" type="core:MuService" minOccurs="0" />
                <xs:element name="specializations" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="specializationCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="areas" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaId" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchDnAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="area" type="core:AreaDn" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchMuByAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaTypeCodes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="core:ID" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="searchByCode" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="regionOMKTEcode" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[0-9]{2}00" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="areaOMKTEcode" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="([\d]{2})([1-9]0|0[1-9]|[1-9]{2})" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="searchByNsiGlobalId" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="aoLevel" type="xs:string" />
                                <xs:element name="globalIdNsi" type="xs:long" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchMuByAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="muInfo" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="muId" type="core:ID" minOccurs="0" />
                                                <xs:element name="moId" type="core:ID" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaListBriefRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="core:ID" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaListBriefResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="area" type="core:AreaBrief" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setAreaMuServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="addMuService" type="core:MuService" minOccurs="0" />
                <xs:element name="closeMuService" type="core:MuService" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setAreaMuServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" fixed="true">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean"/>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressTotalRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="addressGlobalId" type="xs:long" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            global_id адреса в СУ НСИ
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressTotalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="addressAllocation" type="core:AddressAllocation" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressTotalRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:long">
                    <xs:annotation>
                        <xs:documentation>
                            ИД распоряжения
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="addressGlobalId" type="xs:long" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            global_id адреса в СУ НСИ
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressTotalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" fixed="true">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:boolean"/>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="core:ID" />
                <xs:element name="addressGlobalId" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="areaTypeCode" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="orderDate" type="xs:date" minOccurs="0" />
                <xs:element name="orderNumber" type="xs:string" minOccurs="0" />
                <xs:element name="orderName" type="xs:string" minOccurs="0" />
                <xs:element name="orderCreateDate" type="xs:date" minOccurs="0" />
                <xs:element name="orderOuz" type="xs:string" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="core:PagingResults">
                                <xs:sequence>
                                    <xs:element name="addressInfo" type="core:AddressInfo" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaHistoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="core:ID" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaHistoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="tns:AreaHistoryResultPage" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
