contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent2/v1/emias.contingent2.core.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://emias.mos.ru/contingent2/core/v1/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://emias.mos.ru/contingent2/core/v1/"
           xmlns:tns="http://emias.mos.ru/contingent2/core/v1/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:include schemaLocation="../emias/emias.core.v1.xsd"/>
    <!--business entities-->
    <xs:complexType name="AreaTypeShort">
        <xs:annotation>
            <xs:documentation>Типы участка в профиле МУ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Код типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrimaryAreaTypeCodes">
        <xs:sequence>
            <xs:element name="primaryAreaTypeCode" type="xs:long" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressAllocationOrder">
        <xs:annotation>
            <xs:documentation>Типы участка в профиле МУ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД распоряжения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер распоряжения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата издания распоряжения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ouz" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ОУЗ, выпустивший распоряжение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование распоряжения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MedicalEmployee">
        <xs:sequence>
            <xs:element name="id" type="xs:long" />
            <xs:element name="medicalEmployeeJobInfoId" type="xs:long" />
            <xs:element name="snils" type="xs:string" />
            <xs:element name="positionId" type="xs:long" />
            <xs:element name="isReplacement" type="xs:boolean" />
            <xs:element name="startDate" type="xs:date" minOccurs="0" />
            <xs:element name="endDate" type="xs:date" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Area">
        <xs:sequence>
            <xs:element name="id" type="xs:long" />
            <xs:element name="moId" type="xs:long" />
            <xs:element name="muId" type="xs:long" />
            <xs:element name="number" type="xs:int" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="areaType" type="tns:AreaTypeShort" />
            <xs:element name="ageMin" type="xs:int" minOccurs="0" />
            <xs:element name="ageMax" type="xs:int" minOccurs="0" />
            <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
            <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
            <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
            <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
            <xs:element name="autoAssignForAttachment" type="xs:boolean" />
            <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
            <xs:element name="primaryAreaTypeCodes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="areaType" type="tns:AreaTypeShort" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="archive" type="xs:boolean" />
            <xs:element name="medicalEmployees" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="medicalEmployee" type="tns:MedicalEmployee" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
