contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent2/v1/emias.contingent2.composit.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:uctx="http://emias.mos.ru/system/v1/userContext/"
                  xmlns:nsf="http://emias.mos.ru/system/v1/faults/"
                  xmlns:ns1="http://emias.mos.ru/contingent2/area/composit/v1/types/"
                  xmlns:tns="http://emias.mos.ru/contingent2/area/composit/v1/"
                  name="compositService"
                  targetNamespace="http://emias.mos.ru/contingent2/area/composit/v1/">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://emias.mos.ru/system/v1/userContext/"
                       schemaLocation="../../emias/emias.system.v1.userContext.xsd"/>
            <xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="../../emias/emias.system.v1.faults.xsd"/>
            <xs:import namespace="http://emias.mos.ru/contingent2/area/composit/v1/types/"
                       schemaLocation="emias.contingent2.area.composit.v1.types.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fault">
        <wsdl:documentation>Ошибка</wsdl:documentation>
        <wsdl:part name="body" element="nsf:fault"/>
    </wsdl:message>
    <wsdl:message name="userContext">
        <wsdl:documentation>Контекст пользователя</wsdl:documentation>
        <wsdl:part name="userContext" element="uctx:userContext"/>
    </wsdl:message>

    <wsdl:message name="archiveAreaCompositInput">
        <wsdl:part name="body" element="ns1:archiveAreaCompositRequest"/>
    </wsdl:message>

    <wsdl:message name="archiveAreaCompositOutput">
        <wsdl:part name="body" element="ns1:archiveAreaCompositResponse"/>
    </wsdl:message>


    <wsdl:portType name="AreaCompositPT">
        <wsdl:operation name="archiveAreaComposit">
            <wsdl:documentation>
                Архивирование участка обслуживания (К_КС_1)
            </wsdl:documentation>
            <wsdl:input message="tns:archiveAreaCompositInput"/>
            <wsdl:output message="tns:archiveAreaCompositOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AreaConpositPTB" type="tns:AreaCompositPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="archiveAreaComposit">
            <soap:operation soapAction="archiveAreaComposit"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="AreaCompositService">
        <!--<wsp:PolicyReference URI="#authPolicy"/>-->
        <wsdl:port name="Area" binding="tns:AreaConpositPTB">
            <soap:address location="http://localhost:8080/area/composit/v1/AreaCompositService?wsdl"/>
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="authPolicy" xmlns:wsp="http://www.w3.org/ns/ws-policy"
                xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy>
                <sp:UsernameToken
                        sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                        <sp:NoPassword/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
</wsdl:definitions>
