contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent2/v1/emias.contingent2.area.v1.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://emias.mos.ru/contingent2/area/v1/types/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="http://emias.mos.ru/contingent2/core/v1/"
           targetNamespace="http://emias.mos.ru/contingent2/area/v1/types/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://emias.mos.ru/contingent2/core/v1/" schemaLocation="emias.contingent2.core.v1.xsd"/>
    <!--lists of entities-->
    <xs:complexType name="AddressAllocationOrderListResultPage">
        <xs:annotation>
            <xs:documentation>Результаты отбора сведений об участках</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="core:PagingResults">
                <xs:sequence>
                    <xs:element name="addressAllocationOrders" type="core:AddressAllocationOrder" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Сведения об участке</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="createDependentAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="xs:int" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="primaryAreaTypes" type="core:PrimaryAreaTypeCodes" maxOccurs="unbounded" />
                <xs:element name="policyTypes" type="core:PolicyTypeCodes" maxOccurs="unbounded" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createDependentAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPrimaryAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" />
                <xs:element name="muTypeId" type="xs:int" />
                <xs:element name="number" type="xs:int" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="policyTypes" type="core:PolicyTypeCodes" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" />
                <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPrimaryAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePrimaryAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="number" type="xs:int" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="PolicyTypesAdd" type="core:PolicyTypesAdd" minOccurs="0" />
                <xs:element name="PolicyTypesDel" type="core:PolicyTypesDel" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" />
                <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePrimaryAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fault" type="core:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateDependentAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="muId" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="xs:int" minOccurs="0" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element name="primaryAreaTypesAdd" type="core:PrimaryAreaTypeCodes" minOccurs="0" />
                <xs:element name="primaryAreaTypesDel" type="core:PrimaryAreaTypeCodes" minOccurs="0" />
                <xs:element name="muTypes" type="core:MuTypes" minOccurs="0" />
                <xs:element name="ageMin" type="xs:int" minOccurs="0" />
                <xs:element name="ageMax" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxM" type="xs:int" minOccurs="0" />
                <xs:element name="ageMinW" type="xs:int" minOccurs="0" />
                <xs:element name="ageMaxW" type="xs:int" minOccurs="0" />
                <xs:element name="autoAssignForAttachment" type="xs:boolean" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateDependentAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:string" />
                <xs:element name="date" type="xs:date" />
                <xs:element name="ouz" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
                <xs:element name="number" type="xs:string" minOccurs="0" />
                <xs:element name="date" type="xs:date" minOccurs="0" />
                <xs:element name="ouz" type="xs:string" minOccurs="0" />
                <xs:element name="name" type="xs:string" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0" />
                <xs:element name="number" type="xs:string" minOccurs="0" />
                <xs:element name="date" type="xs:date" minOccurs="0" />
                <xs:element name="name" type="xs:string" minOccurs="0" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="tns:AddressAllocationOrderListResultPage" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="core:Area" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setMedicalEmployeeOnAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long"/>
                <xs:element name="addMedicalEmployees" type="core:AddMedicalEmployees" minOccurs="0"/>
                <xs:element name="changeMedicalEmployees" type="core:ChangeMedicalEmployees" minOccurs="0"/>
                <xs:element ref="core:options" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setMedicalEmployeeOnAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assignmentId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="fault" type="core:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="restoreAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="restoreAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNewAreaIdRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNewAreaIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="newAreaId" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="nsiAddress" type="core:NsiAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="notNsiAddress" type="core:NotNsiAddress" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="core:options" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaAddressId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaTypeCode" type="xs:long" />
                <xs:element name="orderId" type="xs:long" />
                <xs:element name="nsiAddress" type="core:NsiAddress" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="notNsiAddress" type="core:NotNsiAddress" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moAddressId" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaType" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAddressResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="core:PagingResults">
                    <xs:sequence>
                        <xs:element name="moId" type="xs:long" />
                        <xs:element name="areaType" type="core:AreaTypeShort" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="order" type="core:AddressAllocationOrder" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="moAddress" type="core:MoAddress" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moAddressId" type="xs:long" maxOccurs="unbounded" />
                <xs:element name="orderId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAddressResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="archiveAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="archiveAreaResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element name="areaAddressId" type="xs:long" minOccurs="1" maxOccurs="unbounded" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delAreaAddressResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaAddressRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="areaId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
                <xs:element ref="core:pagingOptions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAreaAddressResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="core:PagingResults">
                    <xs:sequence>
                        <xs:element name="areaAddress" type="core:AreaAddress" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMoAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMoAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMoAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moAvailableAreaType" type="core:AreaTypeShort" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMuAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMuAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMuAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="muId" type="xs:long" />
                <xs:element name="areaTypeCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaTypeCode" type="xs:long" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="delMuAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMuAvailableAreaTypesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moId" type="xs:long" />
                <xs:element name="muId" type="xs:long" />
                <xs:element name="areaTypeState">
                    <xs:annotation>
                        <xs:documentation>
                            0 - Используемые в МУ,
                            1 - Доступные для добавления в список МУ,
                            2 - Все
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="core:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMuAvailableAreaTypesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="availableToUseAreaTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaType" type="core:AreaTypeShort" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="availableToAddAreaTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaType" type="core:AreaTypeShort" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
