contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent2/v1/emias.contingent2.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:uctx="http://emias.mos.ru/system/v1/userContext/"
                  xmlns:nsf="http://emias.mos.ru/system/v1/faults/"
                  xmlns:ns1="http://emias.mos.ru/contingent2/area/v1/types/"
                  xmlns:tns="http://emias.mos.ru/contingent2/area/v1/"
                  name="areaService"
                  targetNamespace="http://emias.mos.ru/contingent2/area/v1/">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://emias.mos.ru/system/v1/userContext/"
                       schemaLocation="../../emias/emias.system.v1.userContext.xsd"/>
            <xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="../../emias/emias.system.v1.faults.xsd"/>
            <xs:import namespace="http://emias.mos.ru/contingent2/area/v1/types/"
                       schemaLocation="emias.contingent2.area.v1.types.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fault">
        <wsdl:documentation>Ошибка</wsdl:documentation>
        <wsdl:part name="body" element="nsf:fault"/>
    </wsdl:message>
    <wsdl:message name="userContext">
        <wsdl:documentation>Контекст пользователя</wsdl:documentation>
        <wsdl:part name="userContext" element="uctx:userContext"/>
    </wsdl:message>

    <wsdl:message name="createDependentAreaInput">
        <wsdl:part name="body" element="ns1:createDependentAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="createDependentAreaOutput">
        <wsdl:part name="body" element="ns1:createDependentAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="createPrimaryAreaInput">
        <wsdl:part name="body" element="ns1:createPrimaryAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="createPrimaryAreaOutput">
        <wsdl:part name="body" element="ns1:createPrimaryAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="updatePrimaryAreaInput">
        <wsdl:part name="body" element="ns1:updatePrimaryAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="updatePrimaryAreaOutput">
        <wsdl:part name="body" element="ns1:updatePrimaryAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="updateDependentAreaInput">
        <wsdl:part name="body" element="ns1:updateDependentAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="updateDependentAreaOutput">
        <wsdl:part name="body" element="ns1:updateDependentAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="createOrderInput">
        <wsdl:part name="body" element="ns1:createOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="createOrderOutput">
        <wsdl:part name="body" element="ns1:createOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="updateOrderInput">
        <wsdl:part name="body" element="ns1:updateOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="updateOrderOutput">
        <wsdl:part name="body" element="ns1:updateOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="searchOrderInput">
        <wsdl:part name="body" element="ns1:searchOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="searchOrderOutput">
        <wsdl:part name="body" element="ns1:searchOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="getAreaByIdInput">
        <wsdl:part name="body" element="ns1:getAreaByIdRequest"/>
    </wsdl:message>

    <wsdl:message name="getAreaByIdOutput">
        <wsdl:part name="body" element="ns1:getAreaByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="setMedicalEmployeeOnAreaInput">
        <wsdl:part name="body" element="ns1:setMedicalEmployeeOnAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="setMedicalEmployeeOnAreaOutput">
        <wsdl:part name="body" element="ns1:setMedicalEmployeeOnAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="restoreAreaInput">
        <wsdl:part name="body" element="ns1:restoreAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="restoreAreaOutput">
        <wsdl:part name="body" element="ns1:restoreAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="getNewAreaIdInput">
        <wsdl:part name="body" element="ns1:getNewAreaIdRequest"/>
    </wsdl:message>

    <wsdl:message name="getNewAreaIdOutput">
        <wsdl:part name="body" element="ns1:getNewAreaIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="addAreaAddressInput">
        <wsdl:part name="body" element="ns1:addAreaAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="addAreaAddressOutput">
        <wsdl:part name="body" element="ns1:addAreaAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="addMoAddressInput">
        <wsdl:part name="body" element="ns1:addMoAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="addMoAddressOutput">
        <wsdl:part name="body" element="ns1:addMoAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="getMoAddressInput">
        <wsdl:part name="body" element="ns1:getMoAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="getMoAddressOutput">
        <wsdl:part name="body" element="ns1:getMoAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="delMoAddressInput">
        <wsdl:part name="body" element="ns1:delMoAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="delMoAddressOutput">
        <wsdl:part name="body" element="ns1:delMoAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="archiveAreaInput">
        <wsdl:part name="body" element="ns1:archiveAreaRequest"/>
    </wsdl:message>

    <wsdl:message name="archiveAreaOutput">
        <wsdl:part name="body" element="ns1:archiveAreaResponse"/>
    </wsdl:message>

    <wsdl:message name="delAreaAddressInput">
        <wsdl:part name="body" element="ns1:delAreaAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="delAreaAddressOutput">
        <wsdl:part name="body" element="ns1:delAreaAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="getAreaAddressInput">
        <wsdl:part name="body" element="ns1:getAreaAddressRequest"/>
    </wsdl:message>

    <wsdl:message name="getAreaAddressOutput">
        <wsdl:part name="body" element="ns1:getAreaAddressResponse"/>
    </wsdl:message>

    <wsdl:message name="addMoAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:addMoAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="addMoAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:addMoAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="getMoAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:getMoAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="getMoAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:getMoAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="delMoAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:delMoAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="delMoAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:delMoAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="addMuAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:addMuAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="addMuAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:addMuAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="delMuAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:delMuAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="delMuAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:delMuAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="getMuAvailableAreaTypesInput">
        <wsdl:part name="body" element="ns1:getMuAvailableAreaTypesRequest"/>
    </wsdl:message>

    <wsdl:message name="getMuAvailableAreaTypesOutput">
        <wsdl:part name="body" element="ns1:getMuAvailableAreaTypesResponse"/>
    </wsdl:message>

    <wsdl:portType name="AreaPT">
        <wsdl:operation name="createPrimaryArea">
            <wsdl:documentation>
                Создание участка первичного типа (К_УУ_3)
            </wsdl:documentation>
            <wsdl:input message="tns:createPrimaryAreaInput"/>
            <wsdl:output message="tns:createPrimaryAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="createDependentArea">
            <wsdl:documentation>
                Создание участка зависимого типа (К_УУ_4)
            </wsdl:documentation>
            <wsdl:input message="tns:createDependentAreaInput"/>
            <wsdl:output message="tns:createDependentAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="updatePrimaryArea">
            <wsdl:documentation>
                Изменение участка первичного типа (К_УУ_5)
            </wsdl:documentation>
            <wsdl:input message="tns:updatePrimaryAreaInput"/>
            <wsdl:output message="tns:updatePrimaryAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateDependentArea">
            <wsdl:documentation>
                Изменение участка зависимого типа (К_УУ_6)
            </wsdl:documentation>
            <wsdl:input message="tns:updateDependentAreaInput"/>
            <wsdl:output message="tns:updateDependentAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="createOrder">
            <wsdl:documentation>
                Создание распоряжения (К_УУ_15)
            </wsdl:documentation>
            <wsdl:input message="tns:createOrderInput"/>
            <wsdl:output message="tns:createOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <wsdl:documentation>
                Изменение распоряжения (К_УУ_16)
            </wsdl:documentation>
            <wsdl:input message="tns:updateOrderInput"/>
            <wsdl:output message="tns:updateOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="searchOrder">
            <wsdl:documentation>
                Поиск распоряжений (К_УУ_17)
            </wsdl:documentation>
            <wsdl:input message="tns:searchOrderInput"/>
            <wsdl:output message="tns:searchOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAreaById">
            <wsdl:documentation>
                Получение подробной информации об участке (К_УУ_11)
            </wsdl:documentation>
            <wsdl:input message="tns:getAreaByIdInput"/>
            <wsdl:output message="tns:getAreaByIdOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="setMedicalEmployeeOnArea">
            <wsdl:documentation>
                Изменение медицинских работников на участке обслуживания (К_УУ_8)
            </wsdl:documentation>
            <wsdl:input message="tns:setMedicalEmployeeOnAreaInput"/>
            <wsdl:output message="tns:setMedicalEmployeeOnAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="restoreArea">
            <wsdl:documentation>
                Восстановление из архива участка обслуживания (К_УУ_14)
            </wsdl:documentation>
            <wsdl:input message="tns:restoreAreaInput"/>
            <wsdl:output message="tns:restoreAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getNewAreaId">
            <wsdl:documentation>
                Предоставления значения сиквенса для ИД участка
            </wsdl:documentation>
            <wsdl:input message="tns:getNewAreaIdInput"/>
            <wsdl:output message="tns:getNewAreaIdOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="addMoAddress">
            <wsdl:documentation>
                Распределение жилых домов к территории обслуживания МО (К_УУ_18)
            </wsdl:documentation>
            <wsdl:input message="tns:addMoAddressInput"/>
            <wsdl:output message="tns:addMoAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="addAreaAddress">
            <wsdl:documentation>
                Добавление адресов на участок обслуживания (К_УУ_10)
            </wsdl:documentation>
            <wsdl:input message="tns:addAreaAddressInput"/>
            <wsdl:output message="tns:addAreaAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getMoAddress">
            <wsdl:documentation>
                Получение списка территорий обслуживания МО (К_УУ_20)
            </wsdl:documentation>
            <wsdl:input message="tns:getMoAddressInput"/>
            <wsdl:output message="tns:getMoAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="delMoAddress">
            <wsdl:documentation>
                Отмена распределения жилых домов к территории обслуживания МО (К_УУ_19)
            </wsdl:documentation>
            <wsdl:input message="tns:delMoAddressInput"/>
            <wsdl:output message="tns:delMoAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="archiveArea">
            <wsdl:documentation>
                Архивирование участка обслуживания (К_УУ_13)
            </wsdl:documentation>
            <wsdl:input message="tns:archiveAreaInput"/>
            <wsdl:output message="tns:archiveAreaOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="delAreaAddress">
            <wsdl:documentation>
                Удаление адресов из участка обслуживания (К_УУ_11)
            </wsdl:documentation>
            <wsdl:input message="tns:delAreaAddressInput"/>
            <wsdl:output message="tns:delAreaAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getAreaAddress">
            <wsdl:documentation>
                (К_УУ_12)	Получение списка адресов участка обслуживания
            </wsdl:documentation>
            <wsdl:input message="tns:getAreaAddressInput"/>
            <wsdl:output message="tns:getAreaAddressOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="addMoAvailableAreaTypes">
            <wsdl:documentation>
                Добавление типов участков, доступных для МО (К_УУ_1)
            </wsdl:documentation>
            <wsdl:input message="tns:addMoAvailableAreaTypesInput"/>
            <wsdl:output message="tns:addMoAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getMoAvailableAreaTypes">
            <wsdl:documentation>
                Предоставление типов участков, доступных для МО (К_УУ_3)
            </wsdl:documentation>
            <wsdl:input message="tns:getMoAvailableAreaTypesInput"/>
            <wsdl:output message="tns:getMoAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="delMoAvailableAreaTypes">
            <wsdl:documentation>
                Удаление типов участка из доступных для МО (К_УУ_2)
            </wsdl:documentation>
            <wsdl:input message="tns:delMoAvailableAreaTypesInput"/>
            <wsdl:output message="tns:delMoAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="addMuAvailableAreaTypes">
            <wsdl:documentation>
                Добавление типов участков, доступных для МУ (К_УУ_4)
            </wsdl:documentation>
            <wsdl:input message="tns:addMuAvailableAreaTypesInput"/>
            <wsdl:output message="tns:addMuAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="delMuAvailableAreaTypes">
            <wsdl:documentation>
                Удаление типов участков из доступных для МУ (К_УУ_5)
            </wsdl:documentation>
            <wsdl:input message="tns:delMuAvailableAreaTypesInput"/>
            <wsdl:output message="tns:delMuAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getMuAvailableAreaTypes">
            <wsdl:documentation>
                Предоставление типов участков, доступных для МУ (К_УУ_6)
            </wsdl:documentation>
            <wsdl:input message="tns:getMuAvailableAreaTypesInput"/>
            <wsdl:output message="tns:getMuAvailableAreaTypesOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AreaPTB" type="tns:AreaPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

         <wsdl:operation name="createPrimaryArea">
            <soap:operation soapAction="createPrimaryArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createDependentArea">
            <soap:operation soapAction="createDependentArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updatePrimaryArea">
            <soap:operation soapAction="updatePrimaryArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateDependentArea">
            <soap:operation soapAction="updateDependentArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createOrder">
            <soap:operation soapAction="createOrder"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateOrder">
            <soap:operation soapAction="updateOrder"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchOrder">
            <soap:operation soapAction="searchOrder"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAreaById">
            <soap:operation soapAction="getAreaById"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="setMedicalEmployeeOnArea">
            <soap:operation soapAction="setMedicalEmployeeOnArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="restoreArea">
            <soap:operation soapAction="restoreArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getNewAreaId">
            <soap:operation soapAction="getNewAreaId"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addAreaAddress">
            <soap:operation soapAction="addAreaAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addMoAddress">
            <soap:operation soapAction="addMoAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getMoAddress">
            <soap:operation soapAction="getMoAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="delMoAddress">
            <soap:operation soapAction="delMoAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="archiveArea">
            <soap:operation soapAction="archiveArea"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="delAreaAddress">
            <soap:operation soapAction="delAreaAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAreaAddress">
            <soap:operation soapAction="getAreaAddress"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addMoAvailableAreaTypes">
            <soap:operation soapAction="addMoAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getMoAvailableAreaTypes">
            <soap:operation soapAction="getMoAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="delMoAvailableAreaTypes">
            <soap:operation soapAction="delMoAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addMuAvailableAreaTypes">
            <soap:operation soapAction="addMuAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="delMuAvailableAreaTypes">
            <soap:operation soapAction="delMuAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getMuAvailableAreaTypes">
            <soap:operation soapAction="getMuAvailableAreaTypes"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="AreaService">
        <!--<wsp:PolicyReference URI="#authPolicy"/>-->
        <wsdl:port name="Area" binding="tns:AreaPTB">
            <soap:address location="http://localhost:8080/area/v1/AreaService?wsdl"/>
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="authPolicy" xmlns:wsp="http://www.w3.org/ns/ws-policy"
                xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy>
                <sp:UsernameToken
                        sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                        <sp:NoPassword/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
</wsdl:definitions>
