contingent/application/contingent-application-nsi/src/main/resources/META-INF/wsdl/pushaccepterProduct.adminService.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:uctx="http://emias.mos.ru/system/v1/userContext/"
                  xmlns:nsf="http://emias.mos.ru/system/v1/faults/"
                  xmlns:ns1="http://emias.mos.ru/pushaccepterProduct/adminService/v1/types/"
                  xmlns:tns="http://emias.mos.ru/pushaccepterProduct/adminService/v1/" name="adminService"
                  targetNamespace="http://emias.mos.ru/pushaccepterProduct/adminService/v1/">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://emias.mos.ru/system/v1/userContext/"
                       schemaLocation="emias.system.v1.userContext.xsd"/>
            <xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="emias.system.v1.faults.xsd"/>
            <xs:import namespace="http://emias.mos.ru/pushaccepterProduct/adminService/v1/types/"
                       schemaLocation="pushaccepterProduct.adminService.v1.types.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fault">
        <wsdl:part name="body" element="nsf:fault"/>
    </wsdl:message>
    <wsdl:message name="userContext">
        <wsdl:part name="userContext" element="uctx:userContext"/>
    </wsdl:message>
    <wsdl:message name="syncNsiInput">
        <wsdl:part name="body" element="ns1:syncNsiRequest"/>
    </wsdl:message>
    <wsdl:message name="syncNsiOutput">
    </wsdl:message>

    <wsdl:portType name="adminServicePortType">
        <wsdl:operation name="syncNsi">
            <wsdl:input message="tns:syncNsiInput" />
            <wsdl:output message="tns:syncNsiOutput" />
            <wsdl:fault message="tns:fault" name="fault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="adminServiceBinding" type="tns:adminServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="syncNsi">
            <soap:operation soapAction=""/>
            <wsdl:input name="syncNsiInput">
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="syncNsiOutput">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="adminService">
        <wsdl:port binding="adminServiceBinding" name="adminServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>