contingent/application/contingent-application-nsi/src/main/resources/META-INF/wsdl/pushaccepterProduct.adminService.v1.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns="http://emias.mos.ru/pushaccepterProduct/adminService/v1/types/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://emias.mos.ru/pushaccepterProduct/adminService/v1/types/"
        xmlns:tns="http://emias.mos.ru/pushaccepterProduct/adminService/v1/types/"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xs:include schemaLocation="emias.core.v1.xsd"/>

    <xs:element name="syncNsiRequest">
        <xs:annotation>
            <xs:documentation>Входные параметры метода catalogCode, которые требуется синхронизовать с НСИ</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="catalogName" type="xs:string"/>
                <xs:element ref="tns:options" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="syncNsiResponse">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
</xs:schema>