contingent/application/contingent-area/src/main/resources/META-INF/xsd/esu/area-event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ptnl.moscow/contingent/event/type/area/"
            xmlns:tns="http://ptnl.moscow/contingent/event/type/area/">

    <xs:element name="areaEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="informDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Дата/время публикации в ЕСУ</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:documentation>ИД события в Контингент2.Участки</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Дата и время операции</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="createАrea" type="tns:AreaCreateEvent" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Информация по операции создания участка. В одном сообщении может быть указано не более одной операции</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="updateАrea" type="tns:AreaUpdateEvent" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Информация по операции изменения участка (кроме архивирования). В одном сообщении может быть указано не более одной операции</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="closeАrea" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Информация по операции архивирования участка. В одном сообщении может быть указано не более одной операции</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaId" type="xs:long">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AreaCreateEvent">
        <xs:sequence>
            <xs:element name="areaId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="moId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД МО</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="muId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД МУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaNumber" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер участка обслуживания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Описание участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeCode" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeClassCode" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Код класс участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeKindCode" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Вид типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="specializationId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Идентификатор справочника Медицинские специализации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMin" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMax" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMinMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMaxMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMinFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMaxFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="isAutoAssignForAttach" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Признак «Назначать автоматически для прикрепления»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Признак «Необходимость мед. показаний»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="primaryAreaTypes" type="tns:PrimaryAreaTypeCodesEvent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Список первичных типов участков</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AreaUpdateEvent">
        <xs:sequence>
            <xs:element name="areaId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>ИД участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="moId" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИД МО</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="muId" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИД МУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Описание участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeCode" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИД типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeClassCode" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код класс участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaTypeKindCode" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Вид типа участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="specializationId" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор справочника Медицинские специализации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMin" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMax" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMinMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMaxMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMinFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж, минимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageMaxFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж, максимальное значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="isAutoAssignForAttach" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Признак «Назначать автоматически для прикрепления»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attachByMedicalReason" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Признак «Необходимость мед. показаний»</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="addPrimaryАreaTypes" type="tns:PrimaryAreaTypeCodesEvent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Список добавляемых первичных типов участков для зависимого участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deletePrimaryАreaTypes" type="tns:PrimaryAreaTypeCodesEvent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Список исключаемых первичных типов участков для зависимого участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PrimaryAreaTypeCodesEvent">
        <xs:sequence>
            <xs:element name="primaryAreaTypeCode" type="xs:long" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>