contingent/application/contingent-area/src/main/resources/META-INF/xsd/esu/AttachToDependentArea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ptnl.moscow/contingent2/event/type/attachment/"
           xmlns:tns="http://ptnl.moscow/contingent2/event/type/attachment/">

    <xs:include schemaLocation="AreaRestrictionCommon.xsd"/>

    <xs:element name="attachToDependentAreaEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:documentation>Идентификатор сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Дата и время наступления события, инициировавшего отправку сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="patientEmiasId" type="xs:long">
                    <xs:annotation>
                        <xs:documentation>Идентификатор пациента ЕМИАС (emiasId). По данным топика "Первичное прикрепление пациента"</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="primaryAreaId" type="xs:long">
                    <xs:annotation>
                        <xs:documentation>Идентификатор первичного участка. По данным топика "Первичное прикрепление пациента"</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dependentArea" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Информация по операции архивирования участка. В одном сообщении может быть указано не более одной операции</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="moId" type="xs:long">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор Медицинской организации</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="muId" type="xs:long" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор Медицинского учреждения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="areaId" type="xs:long">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор зависимого участка. Если участок не обслуживает тип полиса,
                                        для которого выполняется прикрепление, то такой участок не передается в топик</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="areaRestriction" type="tns:AreaRestriction" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Ограничения контингента для прикрепления на участок</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="policyType" type="xs:long">
                                <xs:annotation>
                                    <xs:documentation>Тип полиса первичного прикрепления (ОМС, ДМС, Платный...). Изначально в Контингент0 все прикрепления с типом ОМС</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>