contingent/application/contingent-area/src/main/resources/META-INF/xsd/esu/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ptnl.moscow/contingent/event/type/common/">

    <xs:complexType name="AreaRestriction">
        <xs:sequence>
            <xs:element name="gender" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>код Пол, соответствует справочнику полов ЕМИАС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAge" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст мин. Если указано, то не должно быть указано Возраст М min и Возраст Ж min. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAge" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст макс. Если указано, то не должно быть указано Возраст М max и Возраст Ж max. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAgeMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М мин. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAgeMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М макс. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAgeFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж мин. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAgeFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж макс. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>