contracts/area/emias.contingent2.address.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://emias.mos.ru/contingent2/address/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:restr="http://emias.mos.ru/restriction/types/core/" xmlns="http://emias.mos.ru/contingent2/address/v1/">
  <xs:include schemaLocation="emias.core.address.v1.xsd"/>
  <xs:import namespace="http://emias.mos.ru/restriction/types/core/" schemaLocation="emias.restriction.types.core.xsd"/>
  <xs:complexType name="SearchAreaAddress">
    <xs:annotation>
      <xs:documentation>Сведения адреса для метода searchArea</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="aoLevel" type="restr:stringLimit2">
        <xs:annotation>
          <xs:documentation>Уровень адресного объекта (по уровням Адресного реестра НСИ). Обязательно для заполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="globalIdNsi" type="xs:long">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор адреса в ЕМИАС.НСИ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regionOMKTEcode" type="restr:stringStrict">
        <xs:annotation>
          <xs:documentation>Код округа Москвы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="areaOMKTEcode" type="restr:stringStrict">
        <xs:annotation>
          <xs:documentation>Код района Москвы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="areaCode" type="restr:stringLimitStrict3">
        <xs:annotation>
          <xs:documentation>Код района</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cityCode" type="restr:stringLimitStrict3">
        <xs:annotation>
          <xs:documentation>Код города</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="placeCode" type="restr:stringLimitStrict3">
        <xs:annotation>
          <xs:documentation>Код населенного пункта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="planCode" type="restr:stringLimitStrict4">
        <xs:annotation>
          <xs:documentation>Код элемента планировочной структуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="streetCode" type="restr:stringLimitStrict4">
        <xs:annotation>
          <xs:documentation>Код улицы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="house" type="xs:string">
        <xs:annotation>
          <xs:documentation>Дом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="build" type="xs:string">
        <xs:annotation>
          <xs:documentation>Корпус</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="construction" type="xs:string">
        <xs:annotation>
          <xs:documentation>Строение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>