contracts/area/emias.contingent2.core.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://emias.mos.ru/contingent2/core/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://emias.mos.ru/contingent2/core/v1/" xmlns:restr="http://emias.mos.ru/restriction/types/core/" xmlns:address="http://emias.mos.ru/contingent2/address/v1/" xmlns="http://emias.mos.ru/contingent2/core/v1/">
  <xs:include schemaLocation="emias.core.v1.xsd"/>
  <xs:import namespace="http://emias.mos.ru/contingent2/address/v1/" schemaLocation="emias.contingent2.address.v1.xsd"/>
  <xs:import namespace="http://emias.mos.ru/restriction/types/core/" schemaLocation="emias.restriction.types.core.xsd"/>
  <xs:complexType name="CodeNameType">
    <xs:sequence>
      <xs:element name="code" type="xs:long">
        <xs:annotation>
          <xs:documentation>Код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--business entities-->
  <xs:complexType name="AreaTypeShort">
    <xs:annotation>
      <xs:documentation>Типы участка в профиле МУ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CodeNameType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AreaTypeClass">
    <xs:annotation>
      <xs:documentation>Класс типа участка</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CodeNameType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AreaTypeKind">
    <xs:annotation>
      <xs:documentation>Вид типа участка</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CodeNameType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Specialization">
    <xs:annotation>
      <xs:documentation>Специализация участка</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CodeNameType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrimaryAreaTypeCodes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="primaryAreaTypeCode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolicyTypeCodes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="policyTypeCode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressAllocationOrder">
    <xs:annotation>
      <xs:documentation>Типы участка в профиле МУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:long">
        <xs:annotation>
          <xs:documentation>ИД распоряжения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="xs:string">
        <xs:annotation>
          <xs:documentation>Номер распоряжения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="date" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата издания распоряжения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ouz" type="xs:string">
        <xs:annotation>
          <xs:documentation>ОУЗ, выпустивший распоряжение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование распоряжения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PositionNomClinic">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedicalEmployee">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="medicalEmployeeJobId" type="xs:long"/>
      <xs:element name="snils" type="restr:stringLimit20"/>
      <xs:element minOccurs="0" name="position" type="tns:PositionNomClinic"/>
      <xs:element name="isReplacement" type="xs:boolean"/>
      <xs:element minOccurs="0" name="startDate" type="xs:date"/>
      <xs:element minOccurs="0" name="endDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="moId" type="xs:long"/>
      <xs:element minOccurs="0" name="muId" type="xs:long"/>
      <xs:element minOccurs="0" name="number" type="restr:int5digits"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="areaType" type="tns:AreaTypeShort"/>
      <xs:element name="areaTypeClass" type="tns:AreaTypeClass"/>
      <xs:element name="areaTypeKind" type="tns:AreaTypeKind"/>
      <xs:element minOccurs="0" name="ageMin" type="xs:int"/>
      <xs:element minOccurs="0" name="ageMax" type="xs:int"/>
      <xs:element minOccurs="0" name="ageMinM" type="xs:int"/>
      <xs:element minOccurs="0" name="ageMaxM" type="xs:int"/>
      <xs:element minOccurs="0" name="ageMinW" type="xs:int"/>
      <xs:element minOccurs="0" name="ageMaxW" type="xs:int"/>
      <xs:element minOccurs="0" name="autoAssignForAttachment" type="xs:boolean"/>
      <xs:element minOccurs="0" name="attachByMedicalReason" type="xs:boolean"/>
      <xs:element minOccurs="0" name="primaryAreaTypeCodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="areaType" type="tns:AreaTypeShort"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="archive" type="xs:boolean"/>
      <xs:element minOccurs="0" name="medicalEmployees">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="medicalEmployee" type="tns:MedicalEmployee"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AreaDn">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="moId" type="xs:long"/>
      <xs:element minOccurs="0" name="muId" type="xs:long"/>
      <xs:element minOccurs="0" name="number" type="restr:int5digits"/>
      <xs:element name="areaType" type="tns:AreaTypeShort"/>
      <xs:element name="specializations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="specialization" type="tns:Specialization"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="medicalEmployee">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="medicalEmployeeJobId" type="xs:long"/>
            <xs:element minOccurs="0" name="snils" type="restr:stringLimit20"/>
            <xs:element minOccurs="0" name="position" type="tns:PositionNomClinic"/>
            <xs:element minOccurs="0" name="startDate" type="xs:date"/>
            <xs:element minOccurs="0" name="endDate" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AreaBrief">
    <xs:sequence>
      <xs:element name="id" type="ID"/>
      <xs:element name="moId" type="ID"/>
      <xs:element minOccurs="0" name="muId" type="ID"/>
      <xs:element minOccurs="0" name="number" type="restr:int5digits"/>
      <xs:element name="areaType" type="tns:AreaTypeShort"/>
      <xs:element name="archive" type="xs:boolean"/>
      <xs:element minOccurs="0" name="medicalEmployees">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="medicalEmployee">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="medicalEmployeeJobInfoId" type="xs:long"/>
                  <xs:element name="isReplacement" type="xs:boolean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddMedicalEmployees">
    <xs:annotation>
      <xs:documentation>Сведения медработников для добавления на участок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="addMedicalEmployee" type="tns:AddMedicalEmployee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddMedicalEmployee">
    <xs:annotation>
      <xs:documentation>Сведения медработника для добавления на участок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="medicalEmployeeJobInfoId" type="xs:long"/>
      <xs:element name="snils" type="restr:stringLimit20"/>
      <xs:element name="positionCode" type="xs:string"/>
      <xs:element name="subdivisionId" type="xs:long"/>
      <xs:element name="isReplacement" type="xs:boolean"/>
      <xs:element name="startDate" type="xs:date"/>
      <xs:element minOccurs="0" name="endDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeMedicalEmployees">
    <xs:annotation>
      <xs:documentation>Сведения медработников для изменения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="changeMedicalEmployee" type="tns:ChangeMedicalEmployee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeMedicalEmployee">
    <xs:annotation>
      <xs:documentation>Сведения медработника для изменения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="assignmentId" type="xs:long"/>
      <xs:element minOccurs="0" name="startDate" type="xs:date"/>
      <xs:element minOccurs="0" name="endDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NsiAddress">
    <xs:sequence>
      <xs:element name="levelAddress" type="xs:int"/>
      <xs:element name="globalId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NotNsiAddress">
    <xs:sequence>
      <xs:element name="levelParentId" type="xs:int"/>
      <xs:element name="parentId" type="xs:long"/>
      <xs:element minOccurs="0" name="houseType" type="xs:string"/>
      <xs:element minOccurs="0" name="house" type="xs:string"/>
      <xs:element minOccurs="0" name="buildingType" type="xs:string"/>
      <xs:element minOccurs="0" name="building" type="xs:string"/>
      <xs:element minOccurs="0" name="constructionType" type="xs:string"/>
      <xs:element minOccurs="0" name="construction" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="afeId" type="xs:long"/>
      <xs:element name="levelAddress" type="xs:int"/>
      <xs:element minOccurs="0" name="afeGlobalId" type="xs:long"/>
      <xs:element minOccurs="0" name="regionTeId" type="xs:long"/>
      <xs:element minOccurs="0" name="regionTeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="regionTeName" type="xs:string"/>
      <xs:element minOccurs="0" name="regionTeTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="areaTeId" type="xs:long"/>
      <xs:element minOccurs="0" name="areaCodeOmkTe" type="xs:string"/>
      <xs:element minOccurs="0" name="areaTeName" type="xs:string"/>
      <xs:element minOccurs="0" name="areaTeTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="districtId" type="xs:long"/>
      <xs:element minOccurs="0" name="districtCode" type="xs:string"/>
      <xs:element minOccurs="0" name="districtName" type="xs:string"/>
      <xs:element minOccurs="0" name="districtTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="cityId" type="xs:long"/>
      <xs:element minOccurs="0" name="cityCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cityName" type="xs:string"/>
      <xs:element minOccurs="0" name="cityTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="placeId" type="xs:long"/>
      <xs:element minOccurs="0" name="placeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="placeName" type="xs:string"/>
      <xs:element minOccurs="0" name="placeTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="planId" type="xs:long"/>
      <xs:element minOccurs="0" name="planCode" type="xs:string"/>
      <xs:element minOccurs="0" name="planName" type="xs:string"/>
      <xs:element minOccurs="0" name="planTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetId" type="xs:long"/>
      <xs:element minOccurs="0" name="streetCode" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="brId" type="xs:long"/>
      <xs:element minOccurs="0" name="brGlobalId" type="xs:long"/>
      <xs:element minOccurs="0" name="brAfeId" type="xs:long"/>
      <xs:element minOccurs="0" name="houseType" type="xs:string"/>
      <xs:element minOccurs="0" name="house" type="xs:string"/>
      <xs:element minOccurs="0" name="buildingType" type="xs:string"/>
      <xs:element minOccurs="0" name="building" type="xs:string"/>
      <xs:element minOccurs="0" name="constructionType" type="xs:string"/>
      <xs:element minOccurs="0" name="construction" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MoAddress">
    <xs:sequence>
      <xs:element name="moAddressId" type="xs:long"/>
      <xs:element name="areaTypeCode" type="xs:long"/>
      <xs:element name="orderId" type="xs:long"/>
      <xs:element name="address" type="address:AddressRegistryBaseType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AreaAddress">
    <xs:sequence>
      <xs:element name="moId" type="xs:long"/>
      <xs:element minOccurs="0" name="muId" type="xs:long"/>
      <xs:element name="areaId" type="xs:long"/>
      <xs:element name="areaAddressId" type="xs:long"/>
      <xs:element name="address" type="address:AddressRegistryBaseType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MuTypes">
    <xs:annotation>
      <xs:documentation>Перечень типов МУ.
                Обязательно, если переданы типы участков для добавления (primaryAreaTypesAdd). При этом:
                • если участок принадлежит филиалу, то передается тип филиала;
                • если участок принадлежит МО в целом (филиал отсутствует), то в данной структуре должны передаваться типы всех МУ, принадлежащих данной МО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="muType" type="tns:MuType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MuType">
    <xs:sequence>
      <xs:element name="muId" type="xs:long"/>
      <xs:element name="muTypeId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fault">
    <xs:annotation>
      <xs:documentation>Перечень сообщений об ошибках валидации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element default="Описание уточняется" maxOccurs="unbounded" name="fault" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolicyTypesAdd">
    <xs:annotation>
      <xs:documentation>Добавляемые типы полисов.
                Код типа полиса. Возможные значения: 1 – полис ОМС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="policyTypeCode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolicyTypesDel">
    <xs:annotation>
      <xs:documentation>Удаляемые типы полисов.
                Код типа полиса. Возможные значения: 1 – полис ОМС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="policyTypeCode" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>