contingent/application/contingent-area-domain/src/main/resources/META-INF/xsd/esu/areainfo.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ptnl.moscow/contingent2/event/type/area/"
           xmlns:tns="http://ptnl.moscow/contingent2/event/type/area/">

    <xs:element name="areaInfoEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Дата и время наступления события, инициировавшего отправку сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationType" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Наименование метода, которым выполняется изменение</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="createPrimaryArea"/>
                            <xs:enumeration value="updatePrimaryArea"/>
                            <xs:enumeration value="setMedicalEmployeeOnArea"/>
                            <xs:enumeration value="addAreaAddress"/>
                            <xs:enumeration value="delAreaAddress"/>
                            <xs:enumeration value="archiveArea"/>
                            <xs:enumeration value="restoreArea"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="areaId" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор участка</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="areaType" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор типа участка</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="muId" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор МУ</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="number" type="xs:long" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Номер участка обслуживания</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Наименование участка (в К2 поле Описание)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="archive" type="xs:boolean" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Признак архивного участка: false – действующий, true - архивный</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="autoAssignForAttachment" type="xs:boolean" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Параметр "Назначать для автоматического прикрепления": false - не назначать, true - назначать</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="residentsBindRate" type="xs:long" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Норма прикрепления в рамках участка, чел. (PR_AREA_TYPE_ATTRS.RESIDENTS_BIND_RATE)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="areaRestriction" type="tns:AreaRestriction" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Половозрастные ограничения для участков в К2. Установление соответствия с аналогичными параметрами осуществляется на стороне К1</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="mainEmployees" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Список исполнений должностей медработников основных участковых врачей</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="idmr" type="tns:ID" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Исполнение должности медицинского работника</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="replacementEmployees" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Список исполнений должностей медработников замещающих участковых врачей</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="idmr" type="tns:ID" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Исполнение должности медицинского работника</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="addresses" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Список адресов участка обслуживания</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="address" type="tns:Address" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Адрес участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ID">
        <xs:annotation>
            <xs:documentation>Идентификатор</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long"/>
    </xs:simpleType>

    <xs:complexType name="Address">
        <xs:sequence>
            <xs:element name="aolevel" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Уровень адреса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="omkTeDistrictCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код округа ОМК (AFE.REGION_TE_CODE)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="omkTeRegionCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код района ОМК (AFE.AREACODE_OMK_TE)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="omkUmCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код улицы ОМК (AFE.STREET_OMK_UM)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="streetBTI" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код улицы БТИ</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="code" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="house" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дом (BR.L1_VALUE)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="building" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Корпус (BR.L2_VALUE)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="construction" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Строение (BR.L3_VALUE)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AreaRestriction">
        <xs:sequence>
            <xs:element name="gender" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>код Пол, соответствует справочнику полов ЕМИАС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAge" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст мин. Если указано, то не должно быть указано Возраст М min и Возраст Ж min. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAge" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст макс. Если указано, то не должно быть указано Возраст М max и Возраст Ж max. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAgeMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М мин. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAgeMale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст М макс. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="minAgeFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж мин. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxAgeFemale" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возраст Ж макс. Количество полных лет</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
