contingent/application/contingent-area-domain/src/main/resources/META-INF/xsd/esu/skuu.actions.v1.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by DIT (DIT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://emias.mos.ru/skuu/actions/v1/types" targetNamespace="http://emias.mos.ru/skuu/actions/v1/types" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TypeAction">
		<xs:annotation>
			<xs:documentation>Базовый абстрактный тип для возможных действий в СКУУ (по Приказам)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="actionId" type="ns1:Guid" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор действия в СКУУ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Код вида действия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="title" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида действия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operation" type="ns1:ActionOperations" use="required">
			<xs:annotation>
				<xs:documentation>Операция</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TypeActionDepartment">
		<xs:annotation>
			<xs:documentation>Тип действия в СКУУ со Структурным подразделением организации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ns1:TypeAction">
				<xs:attribute name="code" type="ns1:ActionDepartmentCodes" use="required">
					<xs:annotation>
						<xs:documentation>Код вида действия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeActionJobExecution">
		<xs:annotation>
			<xs:documentation>Тип действия в СКУУ с Исполнением должности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ns1:TypeAction">
				<xs:attribute name="code" type="ns1:ActionJobExecutionCodes" use="required">
					<xs:annotation>
						<xs:documentation>Код вида действия</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Guid">
		<xs:annotation>
			<xs:documentation>GUID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Enumerations-->
	<xs:simpleType name="ActionsWithEntities">
		<xs:annotation>
			<xs:documentation>Действия с сущностями</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE"/>
			<xs:enumeration value="UPDATE"/>
			<xs:enumeration value="DELETE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionOperations">
		<xs:annotation>
			<xs:documentation>Операции (направления) видов действий в СКУУ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="APPROVE"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionDepartmentCodes">
		<xs:annotation>
			<xs:documentation>Коды возможных видов действий в СКУУ со Структурным подразделением организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0100"/>
			<xs:enumeration value="0101"/>
			<xs:enumeration value="0102"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionJobExecutionCodes">
		<xs:annotation>
			<xs:documentation>Коды возможных видов действий в СКУУ с Исполнениями должностей</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0300"/>
			<xs:enumeration value="0400"/>
			<xs:enumeration value="0500"/>
			<xs:enumeration value="0301"/>
			<xs:enumeration value="0401"/>
			<xs:enumeration value="0501"/>
			<xs:enumeration value="0302"/>
			<xs:enumeration value="0402"/>
			<xs:enumeration value="0303"/>
			<xs:enumeration value="0403"/>
			<xs:enumeration value="0304"/>
			<xs:enumeration value="0310"/>
			<xs:enumeration value="0311"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
