contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:cmn="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd" />

    <xsd:complexType name="AreaType">
        <xsd:annotation>
            <xsd:documentation>Типа участка в профиле МУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Код типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>