contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:cmn="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd" />

    <xsd:complexType name="AreaTypeShort">
        <xsd:annotation>
            <xsd:documentation>Типы участка в профиле МУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Код типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddressAllocationOrder">
        <xsd:annotation>
            <xsd:documentation>Типы участка в профиле МУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>ИД распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Номер распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата издания распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ouz" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>ОУЗ, выпустивший распоряжение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MedicalEmployee">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="medicalEmployeeJobInfoId" type="xsd:long" />
            <xsd:element name="snils" type="xsd:string" />
            <xsd:element name="positionId" type="xsd:long" />
            <xsd:element name="isReplacement" type="xsd:boolean" />
            <xsd:element name="startDate" type="xsd:date" minOccurs="0" />
            <xsd:element name="endDate" type="xsd:date" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Area">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="moId" type="xsd:long" />
            <xsd:element name="muId" type="xsd:long" />
            <xsd:element name="number" type="xsd:int" minOccurs="0" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" />
            <xsd:element name="areaType" type="tns:AreaTypeShort" />
            <xsd:element name="ageMin" type="xsd:int" minOccurs="0" />
            <xsd:element name="ageMax" type="xsd:int" minOccurs="0" />
            <xsd:element name="ageMinM" type="xsd:int" minOccurs="0" />
            <xsd:element name="ageMaxM" type="xsd:int" minOccurs="0" />
            <xsd:element name="ageMinW" type="xsd:int" minOccurs="0" />
            <xsd:element name="ageMaxW" type="xsd:int" minOccurs="0" />
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean" />
            <xsd:element name="attachByMedicalReason" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="primaryAreaTypeCodes" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="areaType" type="tns:AreaTypeShort" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="archive" type="xsd:boolean" />
            <xsd:element name="medicalEmployees" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="medicalEmployee" type="tns:MedicalEmployee" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrimaryAreaTypeCodes">
        <xsd:sequence>
            <xsd:element name="primaryAreaTypeCode" type="xsd:long" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>