contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="area"
             targetNamespace="http://emias2.gov.ru/contingent/v1/area/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://emias2.gov.ru/contingent/v1/area/"
             xmlns:cmnwsdl="http://emias2.gov.ru/contingent/v1/common/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        >
    <documentation>
        Version: 1.1.12.${buildNumber}
    </documentation>

    <import namespace="http://emias2.gov.ru/contingent/v1/common/" location="common.wsdl"/>

    <types>
        <xsd:schema targetNamespace="http://emias2.gov.ru/contingent/v1/">
            <xsd:import namespace="http://emias2.gov.ru/contingent/v1/area/" schemaLocation="area-wsdl-types.xsd"/>
            <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd"/>
        </xsd:schema>
    </types>

    <message name="GetProfileMUInput">
        <part name="body" element="tns:GetProfileMURequest"/>
    </message>

    <message name="GetProfileMUOutput">
        <part name="body" element="tns:GetProfileMUResponse"/>
    </message>

    <message name="SetProfileMUInput">
        <part name="body" element="tns:SetProfileMURequest"/>
    </message>

    <message name="SetProfileMUOutput">
        <part name="body" element="tns:SetProfileMUResponse"/>
    </message>

    <message name="CreateDependentAreaInput">
        <part name="body" element="tns:CreateDependentAreaRequest"/>
    </message>

    <message name="CreateDependentAreaOutput">
        <part name="body" element="tns:CreateDependentAreaResponse"/>
    </message>

    <message name="CreatePrimaryAreaInput">
        <part name="body" element="tns:CreatePrimaryAreaRequest"/>
    </message>

    <message name="CreatePrimaryAreaOutput">
        <part name="body" element="tns:CreatePrimaryAreaResponse"/>
    </message>

    <message name="UpdatePrimaryAreaInput">
        <part name="body" element="tns:UpdatePrimaryAreaRequest"/>
    </message>

    <message name="UpdatePrimaryAreaOutput">
        <part name="body" element="tns:UpdatePrimaryAreaResponse"/>
    </message>

    <message name="UpdateDependentAreaInput">
        <part name="body" element="tns:UpdateDependentAreaRequest"/>
    </message>

    <message name="UpdateDependentAreaOutput">
        <part name="body" element="tns:UpdateDependentAreaResponse"/>
    </message>

    <message name="createOrderInput">
        <part name="body" element="tns:createOrderRequest"/>
    </message>

    <message name="createOrderOutput">
        <part name="body" element="tns:createOrderResponse"/>
    </message>

    <message name="updateOrderInput">
        <part name="body" element="tns:updateOrderRequest"/>
    </message>

    <message name="updateOrderOutput">
        <part name="body" element="tns:updateOrderResponse"/>
    </message>

    <message name="searchOrderInput">
        <part name="body" element="tns:searchOrderRequest"/>
    </message>

    <message name="searchOrderOutput">
        <part name="body" element="tns:searchOrderResponse"/>
    </message>

    <portType name="AreaPT">
        <operation name="getProfileMU">
            <documentation>
                Предоставление сведений профиля МУ (К_УУ_2)
            </documentation>
            <input message="tns:GetProfileMUInput"/>
            <output message="tns:GetProfileMUOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="setProfileMU">
            <documentation>
                Настройка профиля МУ (К_УУ_1)
            </documentation>
            <input message="tns:SetProfileMUInput"/>
            <output message="tns:SetProfileMUOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="createPrimaryArea">
            <documentation>
                Создание участка первичного типа (К_УУ_3)
            </documentation>
            <input message="tns:CreatePrimaryAreaInput"/>
            <output message="tns:CreatePrimaryAreaOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="createDependentArea">
            <documentation>
                Создание участка зависимого типа (К_УУ_4)
            </documentation>
            <input message="tns:CreateDependentAreaInput"/>
            <output message="tns:CreateDependentAreaOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="updatePrimaryArea">
            <documentation>
                Изменение участка первичного типа (К_УУ_5)
            </documentation>
            <input message="tns:UpdatePrimaryAreaInput"/>
            <output message="tns:UpdatePrimaryAreaOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="updateDependentArea">
            <documentation>
                Изменение участка зависимого типа (К_УУ_6)
            </documentation>
            <input message="tns:UpdateDependentAreaInput"/>
            <output message="tns:UpdateDependentAreaOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="createOrder">
            <documentation>
                Создание распоряжения (К_УУ_15)
            </documentation>
            <input message="tns:createOrderInput"/>
            <output message="tns:createOrderOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="updateOrder">
            <documentation>
                Изменение распоряжения (К_УУ_16)
            </documentation>
            <input message="tns:updateOrderInput"/>
            <output message="tns:updateOrderOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>
        <operation name="searchOrder">
            <documentation>
                Поиск распоряжений (К_УУ_17)
            </documentation>
            <input message="tns:searchOrderInput"/>
            <output message="tns:searchOrderOutput"/>
            <fault message="cmnwsdl:ContingentFault" name="fault" />
        </operation>

    </portType>

    <binding name="AreaPTB" type="tns:AreaPT">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <sp:SupportingTokens>
                <wsp:Policy>
                    <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:NoPassword/>
                        </wsp:Policy>
                    </sp:UsernameToken>
                </wsp:Policy>
            </sp:SupportingTokens>
        </wsp:Policy>

        <operation name="getProfileMU">
            <soap12:operation soapAction="getProfileMU"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="setProfileMU">
            <soap12:operation soapAction="setProfileMU"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="createPrimaryArea">
            <soap12:operation soapAction="createPrimaryArea"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="createDependentArea">
            <soap12:operation soapAction="createDependentArea"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="updatePrimaryArea">
            <soap12:operation soapAction="updatePrimaryArea"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="updateDependentArea">
            <soap12:operation soapAction="updateDependentArea"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="createOrder">
            <soap12:operation soapAction="createOrder"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="updateOrder">
            <soap12:operation soapAction="updateOrder"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

        <operation name="searchOrder">
            <soap12:operation soapAction="searchOrder"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="ContingentFault" use="literal" />
            </fault>
        </operation>

    </binding>

    <service name="AreaService">
        <port name="Area" binding="tns:AreaPTB">
            <soap12:address location="http://localhost:8181/Area"/>
        </port>
    </service>
</definitions>