contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-wsdl-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/area/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/area/"
            xmlns:area="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/area/types/" schemaLocation="area-types.xsd" />
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd" />

    <xsd:element name="GetProfileMURequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetProfileMUResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="profileAreaType" type="area:AreaType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SetProfileMURequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="muTypeId" type="xsd:string" />
                <xsd:element name="areaTypesAdd" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="areaTypeCode" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="areaTypesDel" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="areaTypeCode" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SetProfileMUResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>