contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-wsdl-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/area/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/area/"
            xmlns:area="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/area/types/" schemaLocation="area-types.xsd" />
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd" />

    <xsd:element name="GetProfileMURequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetProfileMUResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="profileAreaType" type="area:AreaTypeShort" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SetProfileMURequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="muTypeId" type="xsd:string" />
                <xsd:element name="areaTypesAdd" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="areaTypeCode" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="areaTypesDel" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="areaTypeCode" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SetProfileMUResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateDependentAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="moId" type="xsd:long" />
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="number" type="xsd:int" minOccurs="0" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" />
                <xsd:element name="areaTypeCode" type="xsd:string" />
                <xsd:element name="primaryAreaTypeCode" type="xsd:string" maxOccurs="unbounded" />
                <xsd:element name="ageMin" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMax" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinW" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxW" type="xsd:int" minOccurs="0" />
                <xsd:element name="autoAssignForAttachment" type="xsd:boolean" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateDependentAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:long" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreatePrimaryAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="moId" type="xsd:long" />
                <xsd:element name="muId" type="xsd:long" />
                <xsd:element name="number" type="xsd:int" minOccurs="0" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" />
                <xsd:element name="areaTypeCode" type="xsd:string" />
                <xsd:element name="ageMin" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMax" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinW" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxW" type="xsd:int" minOccurs="0" />
                <xsd:element name="autoAssignForAttachment" type="xsd:boolean" />
                <xsd:element name="attachByMedicalReason" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreatePrimaryAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:long" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdatePrimaryAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="areaId" type="xsd:long" />
                <xsd:element name="number" type="xsd:int" minOccurs="0" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" />
                <xsd:element name="ageMin" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMax" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinW" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxW" type="xsd:int" minOccurs="0" />
                <xsd:element name="autoAssignForAttachment" type="xsd:boolean" />
                <xsd:element name="attachByMedicalReason" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdatePrimaryAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateDependentAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="areaId" type="xsd:long" />
                <xsd:element name="muId" type="xsd:long" minOccurs="0" />
                <xsd:element name="number" type="xsd:int" minOccurs="0" />
                <xsd:element name="description" type="xsd:string" minOccurs="0" />
                <xsd:element name="primaryAreaTypesAdd" type="area:PrimaryAreaTypeCodes" minOccurs="0" />
                <xsd:element name="primaryAreaTypesDel" type="area:PrimaryAreaTypeCodes" minOccurs="0" />
                <xsd:element name="ageMin" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMax" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxM" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMinW" type="xsd:int" minOccurs="0" />
                <xsd:element name="ageMaxW" type="xsd:int" minOccurs="0" />
                <xsd:element name="autoAssignForAttachment" type="xsd:boolean" />
                <xsd:element name="options" type="common:Options" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateDependentAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>