contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/area-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:cmn="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd" />

    <xsd:complexType name="AreaTypeShort">
        <xsd:annotation>
            <xsd:documentation>Типы участка в профиле МУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Код типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddressAllocationOrder">
        <xsd:annotation>
            <xsd:documentation>Типы участка в профиле МУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>ИД распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Номер распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата издания распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ouz" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>ОУЗ, выпустивший распоряжение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrimaryAreaTypeCodes">
        <xsd:sequence>
            <xsd:element name="primaryAreaTypeCode" type="xsd:long" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>