contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v1/common-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/common/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:complexType name="KeyValuePair">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Параметр</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Значение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Options">
        <xsd:sequence>
            <xsd:element name="entry" type="tns:KeyValuePair" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Набор опциональных параметров</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
