contingent/application/contingent-common/common-domain/src/main/resources/META-INF/xsd/esu/attachmentprimary.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ptnl.moscow/contingent/event/type/attachment/"
            xmlns:tns="http://ptnl.moscow/contingent/event/type/attachment/">

    <xs:element name="attachPrimaryPatientEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Дата и время наступления события, инициировавшего отправку сообщения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="patientEmiasId" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор пациента ЕМИАС (emiasId)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="policyType" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Тип полиса первичного прикрепления (ОМС, ДМС, Платный...). Изначально в Контингент0 все прикрепления с типом ОМС</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="primaryAreaId" type="tns:ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Идентификатор первичного участка, к которому прикреплен пациент.
                            Может быть передан зависимый участок. В этом случае Контингент-2.Участки проигнорирует такое сообщение</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ID">
        <xs:annotation>
            <xs:documentation>Идентификатор</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long"/>
    </xs:simpleType>

</xs:schema>