contingent/application/contingent-common/common-domain/src/main/resources/META-INF/xsd/esu/dn.attach.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ptnl.moscow/contingent/event/type/dn/attach/"
           xmlns:tns="http://ptnl.moscow/contingent/event/type/dn/attach/">

    <xs:element name="dnAttach">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>ИД события в Контингент2.Участки</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Дата и время операции</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="patientEmiasId" type="tns:ID">
                    <xs:annotation>
                        <xs:documentation>Идентификатор пациента ЕМИАС (emiasId)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="simiDocumentId" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>Идентификатор документа СИМИ</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="createAttachment" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Сведения о создании/обновлении прикрепления</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="moId" type="tns:ID">
                                <xs:annotation>
                                    <xs:documentation>ИД МО</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="areaId" type="tns:ID">
                                <xs:annotation>
                                    <xs:documentation>ИД участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="notForSelfAppointment" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Признак разрешения самозаписи</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="closeAttachment" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Сведения о закрытии прикрепления</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="areaId" type="tns:ID">
                                <xs:annotation>
                                    <xs:documentation>ИД участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ID">
        <xs:annotation>
            <xs:documentation>Идентификатор</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long"/>
    </xs:simpleType>

</xs:schema>