contingent/application/contingent-common/common-domain/src/main/resources/META-INF/xsd/esu/dn.event.informer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ptnl.moscow/contingent/event/type/dn/event/">

    <xs:element name="dnEventInformer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="omain" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>Служебный атрибут. Не используется</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ehrUid" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>Идентификатор и ЭМК пациента. Не используется</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="operationType" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>Операция, которая была осуществлена в отношении композиции:
                            create - композиция сохранена;
                            delete - композиция аннулирована (не используется)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="eventName" type="xs:string" >
                    <xs:annotation>
                        <xs:documentation>Название триггера, которым была инициирована публикация сообщения (не используется)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="newResults" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Присутствует только в сообщениях по созданным и обновленным композициям (operationType = create)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="documentId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор документа</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="compositionId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор композиции</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="patientEmiasId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор пациента ЕМИАС</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="jobId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор исполнения должности медицинского работника, на именной участок которого необходимо выполнить прикрепление</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="isAttached" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Признак создания и закрытия прикрепления, возможные значения:
                                        false - прикрепление необходимо закрыть;
                                        true - прикрепление необходимо создать</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="isNotForSelfAppointment" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Поле актуально для создания прикрепления. Признак, разрешающий самостоятельную запись к врачу специалисту. Если признак не указан, то право самозаписи есть.
                                        Возможные значения:
                                        false - самозапись разрешена;
                                        true - самозапись запрещена</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>