contingent/application/contingent-common/common-domain/src/main/resources/META-INF/xsd/esu/jobExecutionInfoMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by DIT (DIT) -->
<xs:schema xmlns="http://emias.mos.ru/svmr2/systemInformerService/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://emias.mos.ru/svmr2/producer/v1/types" xmlns:ns2="http://emias.mos.ru/skuu/actions/v1/types" targetNamespace="http://emias.mos.ru/svmr2/systemInformerService/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://emias.mos.ru/skuu/actions/v1/types" schemaLocation="skuu.actions.v1.types.xsd"/>
	<xs:import namespace="http://emias.mos.ru/svmr2/producer/v1/types" schemaLocation="svmr2.producer.v1.types.xsd"/>
	<xs:element name="JobExecutionInfoMsg">
		<xs:annotation>
			<xs:documentation>Сообщение об Исполнении должности</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns2:TypeActionJobExecution">
					<xs:choice>
						<xs:element name="jeCreate" type="jeCreate">
							<xs:annotation>
								<xs:documentation>Создание Исполнения должности</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="jeChangeDateEnd" type="jeChangeDateEnd">
							<xs:annotation>
								<xs:documentation>Изменение даты окончания Исполнения должности</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="jeChange" type="jeChange">
							<xs:annotation>
								<xs:documentation>Изменение Исполнения должности</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="jeRemove" type="jeRemove">
							<xs:annotation>
								<xs:documentation>Удаление Исполнения должности</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="action" type="ns2:ActionsWithEntities" use="required">
						<xs:annotation>
							<xs:documentation>Действие с Исполнением должности в СКУУ</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="jeCreate">
		<xs:annotation>
			<xs:documentation>Сведения для создания Исполнения должности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns1:JobExecutionExtension"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jeChange">
		<xs:annotation>
			<xs:documentation>Сведения об изменении Исполнения должности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns1:Base">
				<xs:sequence>
					<xs:element name="attributes" type="ns1:JobExecutionUpdatableAttributes">
						<xs:annotation>
							<xs:documentation>Изменяемые сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jeChangeDateEnd">
		<xs:annotation>
			<xs:documentation>Сведения об изменении даты окончания Исполнения должности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns1:Base">
				<xs:sequence>
					<xs:element name="end" type="xs:date" nillable="true">
						<xs:annotation>
							<xs:documentation>Окончание</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jeRemove">
		<xs:annotation>
			<xs:documentation>Сведения об удалении Исполнения должности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns1:EntityBase"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
