contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v5/area-wsdl-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v3/area/"
            xmlns:tns="http://emias2.gov.ru/contingent/v3/area/"
            xmlns:area="http://emias2.gov.ru/contingent/v3/area/types/"
            xmlns:rmu="http://emias2.gov.ru/contingent/v1/rmu/types/"
            xmlns:nsi="http://emias2.gov.ru/contingent/v1/nsi/types/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="2.0.0">
    <xsd:import namespace="http://emias2.gov.ru/contingent/v3/area/types/" schemaLocation="area-types.xsd"/>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/rmu/types/" schemaLocation="rmu-types.xsd"/>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/nsi/types/" schemaLocation="nsi-types.xsd"/>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd"/>

    <xsd:element name="CreateLpuAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:LpuAreaTypeParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateLpuAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveLpuAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuAreaTypeId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveLpuAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:AreaTypeParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:AreaTypeUpdateParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="code" type="nsi:AreaTypeKey" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RestoreAreaTypeRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="code" type="nsi:AreaTypeKey" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RestoreAreaTypeResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAreaTypeByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuAreaTypeId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAreaTypeByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="area:LpuAreaType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAreaTypesRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuKey" type="rmu:LpuKey" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAreaTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:LpuAreaType" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreasByLpuRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuKey" type="rmu:LpuKey" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreasByLpuResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:Area" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="areaSearchParams" type="area:AreaSearchParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:AreaShort" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="paging" type="common:ResponsePageInfo" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="id" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="area:Area"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdShortRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="id" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdShortResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="area:Area"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdBulkRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idList" type="xsd:long" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdBulkResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:Area" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAddressByLpuRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuKey" type="rmu:LpuKey" />
                <xsd:element name="areaTypes" type="nsi:AreaTypeKey" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAddressByLpuResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="rmu:Address" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetUsedAddressesRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuAreaTypeId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetUsedAddressesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="rmu:Address" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetNextAreaNumberRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuAreaTypeId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetNextAreaNumberResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:AreaCreateParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateArea2Request">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:AreaCreate2Params" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateArea2Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="id" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ArchiveAreaResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="areaId" type="xsd:long" />
    <xsd:element name="params" type="area:AreaUpdateParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateAreaResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateArea2Request">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="areaId" type="xsd:long" />
    <xsd:element name="params" type="area:AreaUpdate2Params" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="UpdateArea2Response">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RestoreAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="id" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RestoreAreaResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchBuildingAttachmentsRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:BuildingAttachmentsSearchParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchBuildingAttachmentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="area:BuildingAttachmentsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateBuildingAttachmentsRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:BuildingAttachmentsCreateParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="CreateBuildingAttachmentsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetBuildingAttachmentsRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:BuildingAttachmentsGetParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetBuildingAttachmentsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:BuildingAttachment" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RemoveBuildingAttachmentsRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:BuildingAttachmentsRemoveParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RemoveBuildingAttachmentsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaAttachedCountRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaAttachedCountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:AttachedForEntity" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAttachedCountRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAttachedCountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:AttachedToLpu" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusForAttachmentMpguRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:LpuForAttachmentParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusForAttachmentMpguResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:LpuForAttachment" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreasForLpuGroupRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="params" type="area:AreasForLpuGroupParams" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreasForLpuGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:Area" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="paging" type="common:ResponsePageInfo" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetTerritoryAddressByAreaIdRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="areaId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetTerritoryAddressByAreaIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:TerritoryAddress" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusByAddressRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="address" type="rmu:Address" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusByAddressResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="rmu:LpuKey" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuTypeAttributesRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuTypeAttributesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:LpuTypeAttributes" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuNeedSyncAttachmentRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="lpuId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuNeedSyncAttachmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusForAdultTriggerRequest">
        <xsd:complexType>
            <xsd:sequence>
    <xsd:element name="isMixed" type="xsd:boolean" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusForAdultTriggerResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="area:LpuShortTrigger" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>