contingent/application/contingent-area/src/main/resources/META-INF/wsdl/contingent/v5/area-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v3/area/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v3/area/types/"
            xmlns:rmu="http://emias2.gov.ru/contingent/v1/rmu/types/"
            xmlns:nsi="http://emias2.gov.ru/contingent/v1/nsi/types/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="2.0.0">
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/rmu/types/" schemaLocation="rmu-types.xsd"/>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/nsi/types/" schemaLocation="nsi-types.xsd"/>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd"/>

    <xsd:simpleType name="LpuAreaTypeKey">
        <xsd:annotation>
            <xsd:documentation>Идентификатор типа участка в МО</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>

    <xsd:complexType name="LpuAreaType">
        <xsd:annotation>
            <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="tns:LpuAreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="nsi:AreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа участка (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ageGroup" type="nsi:AgeGroupKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор возрастной группы (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="tns:GenderType">
                <xsd:annotation>
                    <xsd:documentation>Пол</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="active" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Участок не архивирован</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="AreaKey">
        <xsd:annotation>
            <xsd:documentation>Идентификатор участка</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>

    <xsd:simpleType name="AreaTypeKey">
        <xsd:annotation>
            <xsd:documentation>Идентификатор типа участка</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="Area">
        <xsd:annotation>
            <xsd:documentation>Участок</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="tns:AreaKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Номер участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Название участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="tns:AreaStatus">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuAreaType" type="tns:LpuAreaType">
                <xsd:annotation>
                    <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления в рамках участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления за пределами участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mainEmployee" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Основные участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="replacementEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Замещающие участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Территория обслуживания участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Количество прикрепленных к участку</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaShort">
        <xsd:annotation>
            <xsd:documentation>Участок для списка</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="tns:AreaKey" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Номер участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Название участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="tns:AreaStatus">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuAreaType" type="tns:LpuAreaType">
                <xsd:annotation>
                    <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления в рамках участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления за пределами участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="employees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Основные участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Количество прикрепленных к участку</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaUpdateParams">
        <xsd:sequence>
            <xsd:element name="number">
                <xsd:annotation>
                    <xsd:documentation>Номер участка</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"></xsd:minInclusive>
                        <xsd:maxExclusive value="100000"></xsd:maxExclusive>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name">
                <xsd:annotation>
                    <xsd:documentation>Название участка</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="lpuAreaTypeId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Тип участка обслуживания в МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mainEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Участковый врач</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="replacementEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Замещающие врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Ардеса обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Назначать автоматически для прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skipChecks" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Не выполнять проверки на «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="AreaUpdate2Params">
        <xsd:sequence>
            <xsd:element name="mainEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список исполнений должностей медработников участковых врачей.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="replacementEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список исполнений должностей медработников замещающих врачей</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список адресов участка обслуживания.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Назначать для автоматического прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skipChecks" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Не выполнять проверки на «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>    

    <xsd:complexType name="LpuAreaTypeParams">
        <xsd:sequence>
            <xsd:element name="lpu" type="rmu:LpuKey">
                <xsd:annotation>
                    <xsd:documentation>ЛПУ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="nsi:AreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>Код типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ageGroup" type="nsi:AgeGroupKey">
                <xsd:annotation>
                    <xsd:documentation>Код возрастной группы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="tns:GenderType">
                <xsd:annotation>
                    <xsd:documentation>Пол</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaTypeParams">
        <xsd:sequence>
            <xsd:element name="name">
                <xsd:annotation>
                    <xsd:documentation>Наименование типа участка</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ageGroup" type="nsi:AgeGroupKey">
                <xsd:annotation>
                    <xsd:documentation>Код возрастной группы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="tns:GenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Пол обслуживаемого контингента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="speciality" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Специальность врача</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="defaultAttachmentPossibility" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Возможность базового прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="normAttachment" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления для данного типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaTypeUpdateParams">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>ИД типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование типа участка</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ageGroup" type="nsi:AgeGroupKey">
                <xsd:annotation>
                    <xsd:documentation>Код возрастной группы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="tns:GenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Пол обслуживаемого контингента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="speciality" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Специальность врача</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="defaultAttachmentPossibility" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Возможность базового прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="normAttachment" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления для данного типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="medical" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Группа типа участка - Медицинский/Школьный</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaSearchParams">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statuses" type="tns:AreaStatus" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Статус участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="employeeKeys" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список медработников</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Территория обслуживания участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuKeys" type="rmu:LpuKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>ИД МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaTypeKeys" type="nsi:AreaTypeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Типы участков</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuAreaTypeIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Типы участков обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="byExactAddress" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак поиска по точному совпадению адреса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paging" type="common:RequestPageInfo" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Типы участков обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LpuForAttachmentParams">
        <xsd:sequence>
            <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Территория обслуживания участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuKeys" type="rmu:LpuKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaTypeKey" type="nsi:AreaTypeKey" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Тип участков</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ageGroups" type="nsi:AgeGroupKey" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Идентификаторы возрастной группы (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="headFinanceOnly" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>Выбирать только МУ и участки с флагом "Участвует в подушевом финансировании"</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LpuForAttachment">
        <xsd:sequence>
            <xsd:element name="lpuKey" type="rmu:LpuKey" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedToLpu" type="xsd:int" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Прикреплений у МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areas" type="tns:AreaForAttachment" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Участки</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="recommended" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Рекомендуемый МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaForAttachment">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Номер участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Название участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedToArea" type="xsd:int" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Прикреплений у участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="nsi:AreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа участка (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mainEmployees" type="rmu:EmployeeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список основных участковых сотрудников</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaCreateParams">
        <xsd:complexContent>
            <xsd:extension base="tns:AreaUpdateParams">
                <xsd:sequence>
                    <xsd:element name="lpu" type="rmu:LpuKey">
                        <xsd:annotation>
                            <xsd:documentation>ИД МО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="AreaCreate2Params">
        <xsd:complexContent>
            <xsd:extension base="tns:AreaUpdate2Params">
                <xsd:sequence>
                    <xsd:element name="lpu" type="rmu:LpuKey">
                        <xsd:annotation>
                            <xsd:documentation>ИД МО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
		            <xsd:element name="number">
		                <xsd:annotation>
		                    <xsd:documentation>Номер участка</xsd:documentation>
		                </xsd:annotation>
		                <xsd:simpleType>
		                    <xsd:restriction base="xsd:int">
		                        <xsd:minInclusive value="0"></xsd:minInclusive>
		                        <xsd:maxExclusive value="100000"></xsd:maxExclusive>
		                    </xsd:restriction>
		                </xsd:simpleType>
		            </xsd:element>
		            <xsd:element name="name">
		                <xsd:annotation>
		                    <xsd:documentation>Название участка</xsd:documentation>
		                </xsd:annotation>
		                <xsd:simpleType>
		                    <xsd:restriction base="xsd:string">
		                        <xsd:maxLength value="255"/>
		                    </xsd:restriction>
		                </xsd:simpleType>
		            </xsd:element>
		            <xsd:element name="areaType" type="nsi:AreaTypeKey">
		                <xsd:annotation>
		                    <xsd:documentation>ИД типа участка</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>    

    <xsd:complexType name="AreaInfo">
        <xsd:complexContent>
            <xsd:extension base="tns:Area"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="AreaStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Active">
                <xsd:annotation>
                    <xsd:documentation>Активен</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Archived">
                <xsd:annotation>
                    <xsd:documentation>Заархивирован</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Deleted">
                <xsd:annotation>
                    <xsd:documentation>Удален</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="GenderType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ANY">
                <xsd:annotation>
                    <xsd:documentation>Любой</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WOMAN">
                <xsd:annotation>
                    <xsd:documentation>Женский</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MAN">
                <xsd:annotation>
                    <xsd:documentation>Мужской</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:complexType name="AttachedForEntity">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>id участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="count" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Количество прикреплений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttachedToLpu">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>id участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Тип участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="count" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Количество прикреплений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachment">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>id распределения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="territoryAddress" type="tns:TerritoryAddress">
                <xsd:annotation>
                    <xsd:documentation>Адресный объект</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuTerritoryAttachment" type="tns:LpuTerritoryAttachment" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Прикрепление к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acceptAttachmentDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acceptOrderAttachment" type="tns:OrderAttachment" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Распоряжение о прикреплении</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cancelAttachmentDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата отмены прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderCancelReason" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Причина отмены прикрепления дома к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cancelOrderAttachment" type="tns:OrderAttachment" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Распоряжение об отмене прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="archive" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак архивности</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachmentsCreateParams">
        <xsd:sequence>
            <xsd:element name="buildingAttach" type="tns:BuildingAttachCreate" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список прикреплений к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acceptAttachmentDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acceptOrderAttachment" type="tns:OrderAttachmentParams" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Распоряжение о прикреплении</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachmentsGetParams">
        <xsd:sequence>
            <xsd:element name="territoryAddress" type="rmu:Address" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Адресный объект</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ИД МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="actualData" type="tns:ActualityData">
                <xsd:annotation>
                    <xsd:documentation>Признак "Актуальность сведений"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachmentsRemoveParams">
        <xsd:sequence>
            <xsd:element name="lpuServiceTerritories" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список идентификаторов прикреплений домов к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="buildingAttache" type="tns:BuildingAttachRemove" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список прикреплений домов к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cancelAttachmentDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата отмены прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderCancelReason" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Причина отмены прикрепления дома к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cancelOrderAttachment" type="tns:OrderAttachmentParams" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Распоряжение об отмене прикрепления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachmentsSearchParams">
        <xsd:sequence>
            <xsd:element name="dateReport" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата формирования отчета</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>ИД МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkParams" type="tns:OmkParams" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список Округ/район/улица</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaTypes" type="nsi:AreaTypeKey" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список типов участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="buildingAttach" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Признак распределения к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paging" type="common:RequestPageInfo" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Пагинация</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachCreate">
        <xsd:sequence>
            <xsd:element name="territoryAddress" type="rmu:Address">
                <xsd:annotation>
                    <xsd:documentation>Адресный объект</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuTerritoryAttachment" type="tns:LpuTerritoryAttachment" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Новое прикрепление к территории обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachRemove">
        <xsd:sequence>
            <xsd:element name="territoryAddress" type="rmu:Address">
                <xsd:annotation>
                    <xsd:documentation>Адресный объект</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey">
                <xsd:annotation>
                    <xsd:documentation>ИД МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="nsi:AreaTypeKey" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ИД типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BuildingAttachmentsReport">
        <xsd:sequence>
            <xsd:element name="buildingAttachReturn" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Число распределений домов к МО в ответе</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="buildingAttachFound" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Число распределений домов к МО, удовлетворяющих условию поиска</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="buildingAttachments" type="tns:BuildingAttachment" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список найденных распределений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="warnings" type="common:Warnings" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Список некритичных ошибок</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TerritoryAddress">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>id адресного объекта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="city" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Город</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="house" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Дом</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="building" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Корпус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="construction" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Строение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="apartments" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Квартира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkUmCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код улицы ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeRegionCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код округа ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeDistrictCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код района ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LpuTerritoryAttachment">
        <xsd:sequence>
            <xsd:element name="areaType" type="nsi:AreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>ИД типа участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="rmu:LpuKey">
                <xsd:annotation>
                    <xsd:documentation>ИД МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrderAttachment">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>идентификатор распоряжения о прикреплении</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numberCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Номер распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Наименование распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderIssueDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата издания распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderIssueAgency" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>ОУЗ, выпустившее распоряжение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrderAttachmentParams">
        <xsd:sequence>
            <xsd:element name="numberCode">
                <xsd:annotation>
                    <xsd:documentation>Номер распоряжения</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name">
                <xsd:annotation>
                    <xsd:documentation>Наименование распоряжения</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="300"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="orderIssueDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата издания распоряжения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderIssueAgency">
                <xsd:annotation>
                    <xsd:documentation>ОУЗ, выпустившее распоряжение</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="300"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ActualityData">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Actual">
                <xsd:annotation>
                    <xsd:documentation>Только актуальные</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Archive">
                <xsd:annotation>
                    <xsd:documentation>Только архивные</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="All">
                <xsd:annotation>
                    <xsd:documentation>Все</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="OmkParams">
        <xsd:sequence>
            <xsd:element name="omkUmCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код улицы ОМК.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeRegionCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код района ОМК.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeDistrictCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код округа ОМК.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreasForLpuGroupParams">
        <xsd:sequence>
            <xsd:element name="lpuKey" type="rmu:LpuKey" />
            <xsd:element name="areaTypes" type="nsi:AreaTypeKey" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="withoutGroup" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="paging" type="common:RequestPageInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LpuTypeAttributes">
        <xsd:sequence>
            <xsd:element name="lpuTypeCode" type="nsi:LpuTypeKey"/>
            <xsd:element name="medical" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NullableKey">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:long" nillable="true" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LpuShortTrigger">
        <xsd:sequence>
            <xsd:element name="lpuId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="area10" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="area20" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="area30" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="area190" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="area233" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="area231" type="tns:AreaShortTrigger" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaShortTrigger">
        <xsd:sequence>
            <xsd:element name="areaId" type="xsd:long" minOccurs="0" />
            <xsd:element name="areaType" type="xsd:string" minOccurs="0" />
            <xsd:element name="lpuId" type="xsd:long" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>