contingent/application/contingent-area/src/main/resources/META-INF/wsdl/nsi/ReceiveChangesWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://op.mos.ru/receive_changes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="receive_changes" targetNamespace="http://op.mos.ru/receive_changes">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://op.mos.ru/receive_changes">
      <xsd:element name="ChangeElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveChangeRequest">
    <wsdl:part element="tns:ChangeElement" name="parameters" />
  </wsdl:message>
  <wsdl:message name="ReceiveChangeResponse">
    <wsdl:part element="tns:ResponseElement" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="ReceiveChangesPort">
    <wsdl:operation name="receive_change">
      <wsdl:input message="tns:ReceiveChangeRequest"/>
      <wsdl:output message="tns:ReceiveChangeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReceiveChangesPortBinding" type="tns:ReceiveChangesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receive_change">
      <soap:operation soapAction="http://op.mos.ru/receive_changes/receive_change"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="receive_changes">
    <wsdl:port binding="tns:ReceiveChangesPortBinding" name="receive_change">
      <soap:address location="http://your.service/location"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
