contingent/application/src/main/resources/META-INF/wsdl/contingent/v1/public-common-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/public/common/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/public/common/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd"></xsd:import>

    <xsd:complexType name="Lpu">
        <xsd:annotation>
            <xsd:documentation>ЛПУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="groupId" minOccurs="0" type="xsd:long"/>
            <xsd:element name="mainLpuId" minOccurs="0" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" minOccurs="0" type="xsd:string"/>
            <xsd:element name="phone" minOccurs="0" type="xsd:string"/>
            <xsd:element name="shortName" type="xsd:string"/>
            <xsd:element name="headFinance" type="xsd:boolean"/>
            <xsd:element name="ogrn" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RequestPageInfo">
        <xsd:sequence>
            <xsd:element name="page" type="xsd:int" minOccurs="1" default="0">
                <xsd:annotation>
                    <xsd:documentation>Номер страницы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pageSize" type="xsd:int" minOccurs="1" default="0">
                <xsd:annotation>
                    <xsd:documentation>Размер страницы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ResponsePageInfo">
        <xsd:complexContent>
            <xsd:extension base="tns:RequestPageInfo">
                <xsd:sequence>
                    <xsd:element name="total" type="xsd:long" minOccurs="1" default="0">
                        <xsd:annotation>
                            <xsd:documentation>Всего записей</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LpuType">
        <xsd:annotation>
            <xsd:documentation>Тип ЛПУ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="dispensary" type="xsd:boolean"/>
                    <xsd:element name="selfAssign" type="xsd:boolean"/>
                    <xsd:element name="ambulatory" type="xsd:boolean"/>
                    <xsd:element name="shortName" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="NsiType">
        <xsd:annotation>
            <xsd:documentation>Базовый класс для справочников</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AgeGroup">
        <xsd:annotation>
            <xsd:documentation>Возрастная группа</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:int"/>
                    <xsd:element name="to" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AreaType">
        <xsd:annotation>
            <xsd:documentation>Тип участка</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="headFinance" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BuildingRegistry">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>

            <xsd:element name="teCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kadDCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kadKCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kadLCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="umBtiCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="umCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kadLNumber" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="house" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="propertyType" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="building" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="construction" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="facilityType" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="docTypeCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="docNumber" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="docDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regNumber" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statusCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unom" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geoLatLon" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocType">
        <xsd:annotation>
            <xsd:documentation>Справочник «Типы документов»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="mgfoms" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SocialStatus">
        <xsd:annotation>
            <xsd:documentation>Справочник «Социальные статусы»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Disability">
        <xsd:annotation>
            <xsd:documentation>Справочник «Инвалидность»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentProcess">
        <xsd:annotation>
            <xsd:documentation>Справочник «Способ прикрепления»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DisabilityDegree">
        <xsd:annotation>
            <xsd:documentation>Справочник «Степень инвалидность»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentChangeReason">
        <xsd:annotation>
            <xsd:documentation>Справочник причин изменения прикрепления</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentType">
        <xsd:annotation>
            <xsd:documentation>Справочник вид прикрепления</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Speciality">
        <xsd:annotation>
            <xsd:documentation>Справочник специальность</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="primary" type="xsd:boolean" />
                    <xsd:element name="parent" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Post">
        <xsd:annotation>
            <xsd:documentation>Справочник специальностей используется также как справочник должностей</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentRequestStatus">
        <xsd:annotation>
            <xsd:documentation>Статус заявления</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentCloseReason">
        <xsd:annotation>
            <xsd:documentation>Справочник причин закрытия прикрепления</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttachmentRejectReason">
        <xsd:annotation>
            <xsd:documentation>Справочник причин отказа в прикреплении</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AppointmentSource">
        <xsd:annotation>
            <xsd:documentation>Вид источника записи на прием</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CustodianReason">
        <xsd:annotation>
            <xsd:documentation>Справочник оснований для представления</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Kladr">
        <xsd:annotation>
            <xsd:documentation>Справочник «КЛАДР»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="parentCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код родителя</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="objectType" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Сокращенное наименование типа объекта</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Почтовый индекс</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ifns" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код ИФНС</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ifnsArea" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код территориального участка ИФНС</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="status" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Статус объекта</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="okato" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код ОКАТО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kladrLevel" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Уровень</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InsuranceCompany">
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="shortName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Сокращенное наименование СК</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="region" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Регион</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="external" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Инотерриториальная СМО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="okato" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>ОКАТО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ogrn" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>ОГРН</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OmkUm">
        <xsd:annotation>
            <xsd:documentation>Справочник «ОМК УМ»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="type" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Тип</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="teCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код ТЕ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tmCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код ТМ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="msrNameOld" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Старое наименование МСР</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="msrName" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Наименование МСР</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="msrCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код улицы МСР</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="btiCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код улицы БТИ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="btiName" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Наименование улицы БТИ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codeNew" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код улицы ЕРЗ с новым наименованием</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codeKladr" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код КЛАДР</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OmkTe">
        <xsd:annotation>
            <xsd:documentation>Справочник «ОМК ТЕ»</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:NsiType">
                <xsd:sequence>
                    <xsd:element name="shortName" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Краткое наименование ТЕ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="type" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Вид ТЕ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="okatoCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код ОКАТО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="okatoKs" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>КС ОКАТО</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Employee">
        <xsd:annotation>
            <xsd:documentation>Врач в ЛПУ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="speciality" minOccurs="0" type="tns:Speciality"/>
            <xsd:element name="name" type="common:FullName"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Account">
        <xsd:annotation>
            <xsd:documentation>Информация о пользователе</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="medicalEmployeeId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="name" type="common:FullName" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Signatory">
        <xsd:annotation>
            <xsd:documentation>Подписант заявления</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="signatoryId" type="xsd:long" minOccurs="0"/>
            <xsd:element name="signatoryPosition" minOccurs="0" type="tns:Post"/>
            <xsd:element name="signatoryFio" minOccurs="0" type="common:FullName"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Address">
        <xsd:annotation>
            <xsd:documentation>Адрес участка</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Город</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="house" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дом</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="building" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Корпус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="construction" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Строение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="apartments" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Квартира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkUmCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код улицы ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkUmName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Название улицы ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeRegionCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код округа ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeRegionName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Название округа ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeDistrictCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код района ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeDistrictName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Название района ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GeoAddress">
        <xsd:annotation>
            <xsd:documentation>Адрес</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:Address">
                <xsd:sequence>
                    <xsd:element name="geoLatLon" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Широта;Долгота</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>