contingent/application/src/main/resources/META-INF/wsdl/contingent/v1/public-area-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/public/area/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/public/area/"
            xmlns:area="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:pct="http://emias2.gov.ru/contingent/v1/public/common/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/public/common/" schemaLocation="public-common-types.xsd"></xsd:import>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/area/types/" schemaLocation="area-types.xsd"></xsd:import>

    <xsd:complexType name="LpuAreaType">
        <xsd:annotation>
            <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="area:LpuAreaTypeKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="pct:Lpu">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="areaType" type="pct:AreaType">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор типа участка (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ageGroup" type="pct:AgeGroup">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор возрастной группы (справочник ЕМИАС)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gender" type="area:GenderType">
                <xsd:annotation>
                    <xsd:documentation>Пол</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="active" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Участок не удален</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Area">
        <xsd:annotation>
            <xsd:documentation>Участок</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="area:AreaKey">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpu" type="pct:Lpu">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Номер участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Название участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="area:AreaStatus">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuAreaType" type="tns:LpuAreaType">
                <xsd:annotation>
                    <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления в рамках участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления за пределами участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mainEmployee" type="pct:Employee" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Основные участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="replacementEmployees" type="pct:Employee" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Замещающие участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="addresses" type="pct:Address" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Территория обслуживания участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Количество прикрепленных к участку</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AreaShort">
        <xsd:annotation>
            <xsd:documentation>Участок для списка</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="area:AreaKey" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Номер участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Название участка обслуживания</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autoAssignForAttachment" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Признак «Назначать автоматически для прикрепления»</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="area:AreaStatus">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lpuAreaType" type="tns:LpuAreaType">
                <xsd:annotation>
                    <xsd:documentation>Тип участка обслуживания МО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления в рамках участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outResidentsBindRate" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Норма прикрепления за пределами участка, чел</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="employees" type="pct:Employee" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Основные участковые врачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachedCount" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Количество прикрепленных к участку</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>