contingent/application/src/main/resources/META-INF/wsdl/contingent/v1/public-area-wsdl-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/public/area/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/public/area/"
            xmlns:area="http://emias2.gov.ru/contingent/v1/area/types/"
            xmlns:rmu="http://emias2.gov.ru/contingent/v1/rmu/types/"
            xmlns:nsi="http://emias2.gov.ru/contingent/v1/nsi/types/"
            xmlns:common="http://emias2.gov.ru/contingent/v1/common/types/"
            xmlns:pct="http://emias2.gov.ru/contingent/v1/public/common/"

            elementFormDefault="qualified"
            version="1.0">

    <xsd:include schemaLocation="public-area-types.xsd"></xsd:include>

    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/public/common/" schemaLocation="public-common-types.xsd"></xsd:import>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/area/types/" schemaLocation="area-types.xsd"></xsd:import>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/rmu/types/" schemaLocation="rmu-types.xsd"></xsd:import>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/nsi/types/" schemaLocation="nsi-types.xsd"></xsd:import>
    <xsd:import namespace="http://emias2.gov.ru/contingent/v1/common/types/" schemaLocation="common-types.xsd"></xsd:import>

    <xsd:element name="GetLpuAreaTypeByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="tns:LpuAreaType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpuAreaTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="tns:LpuAreaType" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="tns:AreaShort" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="paging" type="common:ResponsePageInfo" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="tns:Area"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="lpuAreaTypeId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SearchAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Наименование участка</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="statuses" type="area:AreaStatus" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Статус участка</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="employeeName" type="common:FullName" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>ФИО медработника</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="number" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Номер участка</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="addresses" type="rmu:Address" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Территория обслуживания участка</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="lpuKeys" type="rmu:LpuKey" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>ИД МО</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="areaTypeKeys" type="nsi:AreaTypeKey" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Типы участков</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="paging" type="common:RequestPageInfo" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="lpuAddresses" type="pct:Address" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Список всех адресов обслуживания МО</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="usedAddresses" type="pct:Address" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Список всех используемых адресов для даннго типа участка</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="lpuEmployees" type="pct:Employee" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Список врачей МО</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAgeGroupsRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAgeGroupsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:AgeGroup" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaTypesRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAreaTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:AreaType" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" minOccurs="0" maxOccurs="unbounded" type="xsd:long"></xsd:element>
                <xsd:element name="name" minOccurs="0" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetLpusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:Lpu" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOmkTesRequest">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOmkTesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:OmkTe" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOmkUmsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" minOccurs="0" type="xsd:string"></xsd:element>
                <xsd:element name="teCode" minOccurs="0" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOmkUmsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:OmkUm" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="GetBuildingRegistryRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="teCode" type="xsd:string"></xsd:element>
                <xsd:element name="teDCode" type="xsd:string"></xsd:element>
                <xsd:element name="umCode" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetBuildingRegistryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:BuildingRegistry" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetEmployeesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" minOccurs="0" type="common:FullName"></xsd:element>
                <xsd:element name="lpuId" minOccurs="1" maxOccurs="unbounded" type="xsd:long"></xsd:element>
                <xsd:element name="id" minOccurs="0" maxOccurs="unbounded" type="xsd:long"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetEmployeesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:Employee" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAddressByLpuRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="lpuId" minOccurs="1" maxOccurs="1" type="xsd:long"></xsd:element>
                <xsd:element name="areaType" minOccurs="0" maxOccurs="unbounded" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAddressByLpuResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="results" type="pct:GeoAddress" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>