contingent/application/src/main/resources/META-INF/wsdl/contingent/v1/rmu-types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://emias2.gov.ru/contingent/v1/rmu/types/"
            xmlns:tns="http://emias2.gov.ru/contingent/v1/rmu/types/"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:simpleType name="LpuKey">
        <xsd:annotation>
            <xsd:documentation>Идентификатор ЛПУ</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>

    <xsd:simpleType name="EmployeeKey">
        <xsd:annotation>
            <xsd:documentation>Идентификатор врача</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>

    <xsd:complexType name="Address">
        <xsd:annotation>
            <xsd:documentation>Адрес участка</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Город</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="house" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Дом</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="building" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Корпус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="construction" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Строение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="apartments" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Квартира</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkUmCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код улицы ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeRegionCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код округа ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="omkTeDistrictCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код района ОМК</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
